[2013-12-03 19:00] kyleabeauchamp opened #1 "CUDA_VISABLE_DEVICES?"
So according to the internet--at least going by the number of google hits (zero vs 1000), the env variable is called CUDA_VISIBLE_DEVICES.  Any thoughts on why ours is the misspelled version?

-bash-4.1$ echo $CUDA_VISIBLE_DEVICES

-bash-4.1$ echo $CUDA_VISABLE_DEVICES
0

[2013-12-03 22:44] #1 closed, assigned to nobody

[2013-12-05 23:34] jchodera opened #2 "Set up sysadmin@sd.cbio.mskcc.org [or help@sd or admin@sd]"
We should probably set up a help@sd.cbio.mskcc.org email account that forwards to the sysadmin(s) for users to email when they need low-level help (e.g. resetting default shells).

[2013-12-09 21:37] pgrinaway opened #3 "Java is sometimes unhappy on the login node"
Attempting to get the version of Java with java -version yields

[code]

Additionally, I get a similar error trying to compile OpenMM on the login node:

[code]

I'm not sure if this is a Java configuration issue, though, since on the compute nodes it seems to work fine:

[code]

Does everyone else have this problem?

[2013-12-21 15:26] jchodera opened #4 "Requesting invalid resources should give a more informative error message"
Currently, if you try to request resource `titan` instead of `gtxtitan`, for example, the error message is less than illuminating:

[code]

Correct syntax is here:

[code]

Perhaps we can ask the Torque/Moab people to change the error message or do some error checking to provide a more informative error.

[2014-01-03 00:04] jchodera opened #5 "Have user mail accounts forward mail to main user email accounts"
It would be useful to be able to email users of the cluster from (or at) the cluster, and have their `.forward`s set to their primary contact emails.

[2014-01-03 00:05] jchodera opened #6 "Have users finger information filled out completely"
To enable us to better contact users, we should have the following information be available via `finger`:
- full name
- group name (e.g. Raetch Lab)
- phone contact (ideally mobile)
- email contact info
- office location

[2014-01-05 23:25] jchodera opened #7 "Get each sysadmin an account on GitHub and subscribed to this project."
GitHub issues are a convenient way to flag problems and suggest enhancements for cluster operation.  It would be great if we got each sysadmin to sign up for GitHub so that we can add their accounts here, allowing them to monitor issues and receive alerts.

[2014-01-05 23:26] jchodera opened #8 "Automatically send users daily warning emails and login warnings when they are over home directory "soft quota" of 100G."
I think it would be useful to notify users automatically (and repeatedly) when their home directories exceed the recommended 100G.  We can point them to the wiki page about how to use storage properly.

Eventually, we can also penalize users who exceed this soft quota by reducing their fairshare priority.

[2014-01-11 01:17] jchodera opened #9 "Batch queue log files issues"
From Manu Setty (cllab):

The scheduling issue is working fine now.

There are two minor issues which is not really affecting any jobs but is a bit of inconvenience
1. The log files from the jobs randomly go to either the home directory or the current working directory. This happens even in the output directory is explicitly changed
2. There is always this warning at the end of the job
   "grep: /

[2014-01-17 23:07] kyleabeauchamp opened #10 "Is queue working?"
So I'm trying to run an interactive job:

[code]

However, it just hangs after submission.  According to `qstat`, there is essentially zero cluster usage right now:

[code]

Is something wrong with the queue, or is this expected behavior (e.g. fairshare or the like)?

[2014-01-17 23:10] kyleabeauchamp opened #11 "Should all cluster users be watching this repo?"
So it looks like essentially only the Chodera lab is watching this repo.  I wonder if we should encourage everyone to sign up for GitHub and watch this repo as a way to encourage better communication between cluster users.

[2014-01-18 00:02] #10 closed, assigned to nobody

[2014-01-18 20:11] #11 closed, assigned to nobody

[2014-01-18 20:13] #7 closed, assigned to nobody

[2014-01-21 02:06] jchodera opened #12 "Job is blocked"
@hocks: I have just submitted a job that is queued indefinitely, showing up as "blocked":

[code]

[2014-01-21 14:44] ratsch opened #13 "Extend runtime limit of interactive jobs"
Currently the runtime of jobs in the interactive queue is limited by 2h. We heard reports that this is too short for developing or debugging complex pieces of code. We discussed how this can be changed without affecting other running jobs too much. We suggest to let the interactive jobs oversubscribe the CPUs in one node (allowing at most 5 interactive jobs/threads per node) and to extend the maxi

[2014-01-29 00:02] KjongLehmann opened #14 "Tuning scheduler"
It seems to be working quiet well these days. There are two things we could maybe improve upon.

a) Really large amount of jobs from one user will cause queue stuffing. I suggest to limit the max number of idle jobs in order to prevent thousands of jobs to accumulate Q-time

b) I also think that it may be useful to enable negative priorities. Often the same users send large jobs and at one point b

[2014-01-29 18:55] vipints opened #15 "displaying details of the completed jobs"
I like to have a complete status of the finished job (may be for a day), in my point which will definitely help to debug the error in the code. I know Sun Grid Engine had a way to get completed jobs using a command (qacct -j <job_id>). Is this missing in torque or still be available with the qstat -f <job_id> by editing the configurations.
May be increase the limit of keep_completed_jobs

[2014-01-29 19:32] #12 closed, assigned to hocks

[2014-02-03 20:04] ereznik opened #16 "Saving files from a qsub job"
Hi,

I'm new to this kind of thing, so I imagine I'm doing something stupid, and would appreciate some help. I'm submitting Matlab jobs to the cluster using a bash script. The bash script simply allocates some memory, cpus, and then calls a matlab script. The script runs fine (I've checked the .o and .e files, no errors).

At the end of each iteration of a loop in the script, I save a file to one

[2014-02-18 19:36] kyleabeauchamp opened #17 "Add array job demonstration to wiki"
So it seems like a lot of people are submitting huge numbers of jobs.  Often, it's very convenient to submit your jobs in array form--essentially, a single job with a large number of subjobs.

For example, here is a possible submission script:

[code]

If people are happy with this script, we can put it on the wiki.t

[2014-02-18 20:10] #17 closed, assigned to nobody

[2014-02-18 21:36] ckandoth opened #18 "gpu-2-9 disk is full, jobs that need space in /tmp are failing"
The root mount of gpu-2-9 has a capacity of only 94G, and most of this is currently used by 3 large Fastqs in /tmp. For anyone with permissions, a quick fix would be:

[code]

For the long term, is it possible to allocate a little more space in /tmp? I see that /scratch has a couple of terabytes.

Thanks,
Cyriac

[2014-02-18 22:06] #18 closed, assigned to nobody

[2014-02-20 17:32] ckandoth opened #19 "Install development tools"
I am trying to build some code for the cluster, and was hoping you could install cmake and the following libraries on at least the master node.

[code]

Let me know if you need more info, or if you can suggest an alternative.

Thanks,
Cyriac

[2014-02-20 18:58] #19 closed, assigned to nobody

[2014-02-23 02:12] jchodera opened #20 "One-GPU jobs are preventing multi-GPU jobs from starting"
It looks like single-GPU jobs are distributed amongst the nodes rather than packed onto single nodes, which makes it difficult for multi-GPU jobs (e.g. 4-GPU jobs) to start promptly.

Is there a way to change the job packing default to pack GPU jobs onto the same nodes when possible?

[2014-02-23 02:14] #20 closed, assigned to nobody

[2014-02-23 14:57] jchodera opened #21 "GPU jobs not starting for unknown reason"
I have submitted a 4-GPU job through the `gpu` queue to run on a single node using the resource request

[code]

but the job is currently scheduled for more than a day from now:

[code]

I'm uncertain why this is, as there appear to be very few jobs using GPUs at this point.

[2014-02-23 22:53] ckandoth opened #22 "gpu-2-12 is down. Needs to be reset?"
gpu-2-12 went down a few days ago, taking a few of my jobs with it. I've since rerun those jobs. But is there a mechanism in place that detects these node failures, so that they can be hard reset if necessary? I use the command `pbsnodes -nl all` to see the state of all nodes. And I use the following convoluted one-liner to see what the cluster is up to:

[code]

Thanks,
Cyriac

[2014-02-24 15:52] jchodera opened #23 "Naming the cbio GPU cluster?"
Since the cBio GPU cluster will eventually be moving from SDSC to NJDC, we should give it a better name, since `sd.cbio.mskcc.org` will no longer be relevant.

Suggestions?

[2014-03-01 04:50] jchodera opened #24 "gpu-2-5 has lost a GPU"
The node may need to be rebooted or the GPU reseated, @csirving.

[code]

@hocks : Can you revise the node health check script to also _count_ the number of GPUs and take a node out of the GPU queue if the count falls below 4?

Thanks!

[2014-03-01 17:20] #22 closed, assigned to nobody

[2014-03-01 17:21] #21 closed, assigned to nobody

[2014-03-02 22:16] jchodera opened #25 "Can't kill "stuck" running job 801668"
We can look into this on Monday.

[code]

[2014-03-03 20:05] #24 closed, assigned to csirving

[2014-03-03 20:05] #25 closed, assigned to nobody

[2014-03-05 15:11] akahles opened #26 "Queue unresponsive for several hours"
This behavior seems to occur, if single nodes get overloaded and become thus unresponsive to the load balancer. This results in the situation that the node is not taken offline for scheduling, but also nothing else is scheduled. I observed this for several times over the past days and it is happening again since very early this morning.
Whereas showq shows that I have 214 jobs running, qstat repor

[2014-03-12 04:19] jchodera opened #27 "Is there a way to specify jobs should be distributed across different nodes?"
Even when I specify, for example,

[code]

I still see the jobs packed on nodes:

[code]

Is there a way to ensure the jobs are scattered to different nodes?

[2014-03-13 01:55] #27 closed, assigned to nobody

[2014-03-28 20:27] kyleabeauchamp opened #28 "QStat is down"
[code]

[2014-03-28 22:32] jchodera opened #29 "Requesting a number of GPUs, regardless of location"
@pgrinaway and I were discussing how we might request, say, 30 GPUs scattered across any set of nodes, and how this would appear to each process (in terms of `CUDA_VISIBLE_DEVICES`).

The desired behavior would be to have 30 threads and GPUs allocated regardless of node packing, and for `CUDA_VISIBLE_DEVICES` to be set to a single device (e.g. just "2" if GPU 2 was assigned to that process, rather

[2014-04-07 13:26] jchodera opened #30 "Spawned processes are being incompletely killed by queue"
@partond and I just noticed that some of our jobs that spawn an `nvcc` process (sleeping while it compiles) do not have all their processes cleaned up after batch queue job termination.  In particular, the `nvcc` processes had hung (while still spin-locking and consuming 99.9% of CPU resources in `top`).  We manually cleaned these up with `kill -9`, since they were probably taking up some threadsl

[2014-04-08 16:12] akahles opened #31 "Offline Nodes"
A number of nodes went offline during the weekend and the number further increased on Monday. Currently, there are 5 nodes offline / down according to pbsnodes. 4 of them are matlab enabled (of 11 in total). @hocks, could you please restart these nodes? Is there any procedure in place to automatically or remotely restart nodes, if they go down?

[2014-04-08 18:52] #31 closed, assigned to nobody

[2014-04-10 16:26] KjongLehmann opened #32 "Scheduler down"
Hi,
the scheduler got stuck again. Resources are available and qstat works, however jobs are stuck in idle. Since this is the second time in 24 hours it seems like something to follow up on.
Cheers
Kjong

[2014-04-10 19:52] KjongLehmann opened #33 "Spring cleaning"
This is not highest priority, but can somebody with the proper rights delete the jobs 453770[1962]  and 453776[4953]

They are in the Q for multiple months and have accumulated a priority of 100428

[2014-04-10 23:22] jchodera opened #34 "Tracking down consistent node failures"
## From @tatarsky:

This may be of interest. Or it may not. We are looking around at items
and saw this.

From the point of view of the GPFS servers, there is a possible trend in
Recovery operations per node.

This is a log that starts in June 2013 from the current gpfs manager server.

The counts are of "Recovery of a node" which usually indicates a node
reboot and remount (erich can correct me i

[2014-04-11 23:02] jchodera opened #35 "Communication error for "showstart""
Interactive jobs are not starting, and I'm getting errors like this now

[code]

[2014-04-11 23:22] #35 closed, assigned to nobody

[2014-04-15 17:25] jchodera opened #36 "Install YACC on cluster"
Can we have YACC installed on the cluster (either directly, or as a module---whichever is easiest)?

Thanks!

[2014-04-16 18:54] #36 closed, assigned to nobody

[2014-04-18 20:03] jchodera opened #37 "Install 'chrpath' on cluster"
It looks like we need the tool `chrpath`

[2014-04-18 20:55] jchodera opened #38 "NVIDIA driver update issues"
This thread is to collect information about NVIDIA driver updates.

Note that the output format of `nvidia-smi` is different between versions.  This might cause problems with node health check scripts:

[code]

[2014-04-19 17:09] jchodera opened #39 "gpu-2-12 has lost a GPU"
[code]

[2014-04-19 17:39] jchodera opened #40 "Scheduler is repeatedly starting job but job remains in queued state"
Something odd is going on with job 1331163.  `showstart` repeatedly says it will start imminently, then say it _has_ started, then schedules it for a couple of minutes in the future again.  It appears to be unable to actually start, leading to nonsensical information like this:

[code]

I wonder if the nodes are too overloaded for torque to actually start up new jobs.

[2014-04-22 17:28] #38 closed, assigned to nobody

[2014-04-23 00:24] #37 closed, assigned to nobody

[2014-04-23 19:58] #33 closed, assigned to nobody

[2014-05-01 23:03] jchodera opened #41 "showstart repeatedly times out"
What do we need to do to get `showstart` to work?  Do we need to upgrade the torque node?

[code]

[2014-05-15 16:03] rgejman opened #42 "Error allocating memory for add_verify_resources"
Hi everyone,

Occasionally I will get an "Error allocating memory for add_verify_resources" while trying to submit a job using qsub. This is occurring right now with a batch job.
     [rgejman@mskcc-ln1:/cbio/cslab/nobackup2/rgejman/CCLE ] $ qsub run_hlaforest_50nt.sh
     Error allocating memory for add_verify_resources
     [rgejman@mskcc-ln1:/cbio/cslab/nobackup2/rgejman/CCLE ] $ qsub run_hlafo

[2014-05-15 18:56] #42 closed, assigned to nobody

[2014-05-19 20:04] KjongLehmann opened #43 "Java version on headnode different from java version on compute nodes"
Probably makes sense to update this.

[2014-05-19 20:41] #43 closed, assigned to nobody

[2014-05-27 20:34] jchodera opened #44 "Adjusting job priorities"
I am archiving this thread on the issue tracker.

---------- Forwarded message ----------
From: Gunnar Rätsch raetsch@cbio.mskcc.org
Date: Mon, May 26, 2014 at 9:11 PM
Subject: priorities
To: Eva Hocks hocks@sdsc.edu
Cc: John Chodera john.chodera@choderalab.org

Hi Eva,

I’m trying to get some computations done these days. But I think the priorities aren’t right yet.
I haven’t done much computing

[2014-05-28 02:13] #44 closed, assigned to nobody

[2014-05-28 02:13] #28 closed, assigned to nobody

[2014-05-28 02:14] #26 closed, assigned to nobody

[2014-05-28 14:39] rgejman opened #45 "Installing RubyGems or RVM + Upgrade Ruby"
Hi all,

If it's not too much trouble, I would like to manage my Ruby versions and libraries with a bit more finesse than is currently available on the cluster.

The most comprehensive management solution is [RVM](https://rvm.io/) which allows every individual user to easily download (or compile) their own ruby versions and maintain their own set of gems (equivalent to perl modules). This should b

[2014-05-30 15:02] sheridancbio opened #46 "kernel irq handler error broadcasts on gpu-1-7"
I have received sporadic messages of this form:

Message from syslogd@gpu-1-7 at May 30 07:02:53 ...
 kernel:do_IRQ: 8.207 No irq handler for vector (irq -1)

This were received from within a running virtualbox VM with centos 6.5 installed to it.
# cat /etc/system-release

CentOS release 6.5 (Final)
# uname -a

Linux evfold.sdcluster 2.6.32-431.11.2.el6.x86_64 #1 SMP Tue Mar 25 19:59:55 UTC 2014 x

[2014-06-01 18:34] KjongLehmann opened #47 "Enabling job arrays on moab"
Hi,
is it possible to enable job arrays on Moab please? Torque does not let me exclude a set of nodes, but Moab is able to do so. Unfortunately job arrays are currently turned off as of now. Unless there is a reason for it, it would be useful for some of us to have this enabled. http://docs.adaptivecomputing.com/mwm/7-0/Content/a.fparameters.html#enablejobarrays

Cheers
Kjong

[2014-06-04 17:58] #15 closed, assigned to nobody

[2014-06-04 20:01] hocks opened #48 "gpfs not starting after reboot"
after a node reboot the gpfs logs show:
 Tue Jun  3 22:38:04 PDT 2014: Node rebooted.  Starting mmautoload...

but it doesn't start the mmfs daemon nor mount the filesystem.

 trying to mount manually returns errors:
 mmremote: GPFS is not ready to handle commands yet.

starting gpfs manually via mmstartup fixes the problem.

Please investigate why  gpfs does not start after reboot "automatically"

[2014-06-05 02:04] #40 closed, assigned to nobody

[2014-06-05 02:05] #34 closed, assigned to nobody

[2014-06-08 17:20] ratsch opened #49 "/etc/bashrc -> "[: too many arguments""
Since a week or so I get an output when sourcing /etc/bashrc

[mskcc-ln1 91] clinical > source  /etc/bashrc
bash: [: too many arguments

There is likely a typo somewhere in the script.
@hocks or @csirving can you please have a look?

[2014-06-09 16:23] ratsch opened #50 "no mem ulimits on mskcc-ln1"
I checked today and there don't appear to be any men ulimits in the head node.
@hocks, @csirving: can you please re-introdude these limits? I believe we had a 4GB virtual memory limit (-v) and a 10h cpu runtime limit (-t).

[2014-06-10 14:08] tatarsky opened #51 "Setting a reservation to represent move downtime"
Per a conversation with @hocks the following can be used to set the nodes to warn submitters of the coming move downtime if their run time is expected to overlap it.

[code]

The above represents the best estimate of downtime with the start certain now and confirmed with the mover.

It can be removed if there is a need easily to run jobs despite the reservation. We will implement that with @hocks

[2014-06-11 12:34] tatarsky opened #52 "Implemented SSH bruting block firewall line"
This morning five systems in China simultaneously were brute forcing the SSH on the exposed systems (mskcc-ln1 and node01). The brute forcing was particularly excessive and set off my connection alert as I believe SSHD was having difficulties spawning.

I implemented a MANUAL block method for now on the firewall. I will use it to deal with particularly excessive bruters

But I would like to leave

[2014-06-11 14:08] KjongLehmann opened #53 "Interactive login on batch Q"
Request for interactive login on the batch Q are currently killed, but it is my understanding that this should be possible?

Thx

[2014-06-12 12:05] tatarsky opened #54 "Periodic lack of responses on approval requests for GPU accounts"
The process to validate a requested account is slow. We can often turn around the accounts for a user in seconds, but we were asked to confirm an account being valid first with the PI. Often this takes awhile for some groups. I suspect the PI is busy or doesn't know what we are asking. CSLAB in this case. The recent request for a Patricia Wong has been an example.

What would you like us to do?

I

[2014-06-12 17:55] #41 closed, assigned to nobody

[2014-06-13 18:46] ratsch opened #55 "/tmp full on mskcc-ln1"
The /tmp file system is full. I can't determine who owns the files since they are not readable. Can please somebody determine who owns the largest chunks here and notify these users?

[2014-06-16 00:06] rgejman opened #56 "Nobackup2"
It appears that the /cbio/cslab/nobackup2 has disappeared and that all of my files in /cbio/cslab/nobackup2/rgejman were moved to /cbio/cslab/projects/rgejman. Has there been a chance in the underlying storage architecture and how does this impact what folders are being backed up? Obviously the files I had in nobackup2 were not intended for backup...

[2014-06-16 00:48] #56 closed, assigned to nobody

[2014-06-16 21:35] ratsch opened #57 "Install packages openjpeg-devel + gdk-pixbuf"
@csirving, please install centos package openjpeg-devel.
Package gdk-pixbuf does not appear available as standard package in centos. Can you please either find a RPM package or install it from source (e.g., gdk-pixbuf).

[2014-06-17 16:09] #50 closed, assigned to nobody

[2014-06-17 16:10] #32 closed, assigned to nobody

[2014-06-17 16:11] #16 closed, assigned to nobody

[2014-06-17 16:11] #13 closed, assigned to nobody

[2014-06-17 16:12] #47 closed, assigned to nobody

[2014-06-17 16:12] #48 closed, assigned to nobody

[2014-06-17 16:22] ratsch opened #58 "Snapshots, archives will be down tomorrow 6/18/2014 6:00PM EST"
The snapshots, archives and other systems available under /nfs may become unavailable tomorrow around 6pm EST. @cBio/cbio-sysadmins will update the firmware of hard drives. The operation likely takes a few hours.

[2014-06-18 21:17] rgejman opened #59 "Head node is under heavy load"
May be mostly caused by the mmfsd process.

[code]

Issuing an 'ls' command is taking from several seconds to almost a minute.

[2014-06-18 21:50] #57 closed, assigned to csirving

[2014-06-18 23:02] #58 closed, assigned to nobody

[2014-06-19 18:01] ckandoth opened #60 "Update git to accept push.default: simple"
git v1.7.1 on the cluster does not seem to recognize "push.default: simple" in my .gitconfig. I suppose it needs to be upgraded? Thanks.

[2014-06-20 12:12] ratsch opened #61 "Many hosts in ganglia down or missing"
Ganglia reports activity of two clusters. One is for the GPFS nodes. This one appears to have only 1 node configured out (which is online). I believe we have 10 gpfs nodes and they are all up. Can please somebody add those to the configuration? The second cluster shown is for the compute nodes. It shows that 14 nodes are up and 17 are down. In addition the appear to be blackouts at times (no data

[2014-06-25 14:22] rgejman opened #62 "Some jobs cannot be executed"
I'm trying to start 2 batch jobs (both with -t 1-128), but many of the individual jobs in the array cannot start. I am getting emails such as:

[code]

Any idea what might be going on? I haven't tried restarting the jobs because the server is a bit unresponsive and there are a lot of jobs in the queue so I want to make sure there's no systemic issue...

The two array jobs in question are 1834201 a

[2014-06-25 15:15] jchodera opened #63 "cuda/6.0 module available on nodes but not head node"
The `cuda/6.0` module is available on the compute nodes, but not on the head node.  Module environments between the head node and compute nodes should be identical:

[code]

[2014-06-26 22:10] vipints opened #64 "default PREEMPT POLICY"
As per the conversation with Eva, the default PREEMPT POLICY is SUSPEND. If the job is not suspendable, it will be cancelled or only requeued if marked with `jobflags=restartable` in the job submission script. In my opinion, I will opt for default requeue instead of the cancellation. Also we can reduce one field in the job submission script.  What is your concern?
Vipin

[2014-06-27 15:57] yizhong opened #65 "gpu-1-5 available memory"
tried to get a node by:
qsub -I -q active -l nodes=1:ppn=1,mem=32gb,pmem=8gb,vmem=32gb,pvmem=8gb,walltime=04:00:00

I got gpu-1-5, and run a job which needs 31gb memory, and the job was killed in 15 sec.

Checked the available memory on gnu-1-5:
Mem:  264488144k total, 251337344k used, 13150800k free,   252480k buffers
Swap:  8388592k total,  8388592k used,        0k free, 231253868k cached

quest

[2014-06-29 20:56] jchodera opened #66 "Torque/Moab ignores .forward when sending emails"
I changed my `~/.forward` some days ago, but the scheduler still emails me at my previous email address.  I suspect these are not being synced.

[2014-06-30 21:26] #63 closed, assigned to nobody

[2014-06-30 21:29] #59 closed, assigned to nobody

[2014-06-30 21:30] #54 closed, assigned to nobody

[2014-07-01 12:56] jchodera opened #67 "scheduler slow to schedule; showstart hanging again"
The batch queue is once again under heavy load, and a GPU job (1999888) requesting 4 GPUs in the `gpu` queue is remaining queued despite many available GPUs.  `showstart` is hanging as well:

[code]

[2014-07-02 15:45] ratsch opened #68 "Old cluster & Data availability during move"
While the newer and larger cluster (sd.cbio.mskcc.ort) will shutdown and start its move to the NJ site in about a week (see login message), the old cluster (sd2.raetschlab.org) will stay at SDSC and needs to be reconfigured to be usable without the resources provided by the new cluster. The idea is that we provide a copy of home directories and core research data on the old cluster during the move

[2014-07-02 19:03] stefangstark opened #69 "Connection Refused"
I am getting this error,

bash-4.1$ showq
ERROR:    connection refused - no service listening at mskcc-fe1.sdsc.edu:42559

[2014-07-02 19:18] #69 closed, assigned to nobody

[2014-07-03 17:14] #39 closed, assigned to nobody

[2014-07-03 17:16] jchodera opened #70 "Upgrade Torque/Moab to 8.0 after cluster move"
Adaptive Computing notified us that Torque/Moab 8.0 is due out in a few days, and makes significant improvements to speed and responsiveness of interactive commands.  We're hoping it will be straightforward to upgrade to 8.0 after the cluster move, so I'm opening this issue now.

[2014-07-03 17:17] #29 closed, assigned to hocks

[2014-07-03 21:02] pgrinaway opened #71 "Head node extremely slow"
The head node has become extremely slow and unresponsive. Even login sometimes times out.

[2014-07-03 21:14] tatarsky opened #72 "Network issues at SDSC 7/3"
We are tracking some networking issues at SDSC. Updates as we find out and its more than the MSKCC systems.

[2014-07-03 23:13] #72 closed, assigned to nobody

[2014-07-06 17:50] #49 closed, assigned to nobody

[2014-07-07 20:47] #45 closed, assigned to nobody

[2014-07-08 02:40] ratsch opened #73 "RAID hardware issue -- possible shutdown."
We have a significant hardware problem with one of the RAIDs in the SDSC cluster.
We may need to shutdown the file system in order to get the RAID system repaired
and to avoid data loss. In this case, all running jobs will unfortunately be likely canceled. Stay tuned.

[2014-07-08 18:15] tatarsky opened #74 "Removing NFS mounts from Node04 on GPU cluster"
We would like to have @csirving issue the removal of the NFS mount tables from the soon to be move cluster. Just to reduce dependencies on things that no longer will be possible once moved. While "old" or "download cluster" systems may move later, they are unlikely to move in the same network config as now per some brief conversations and we would address them when that occurs.

Please confirm thi

[2014-07-08 18:17] #71 closed, assigned to nobody

[2014-07-08 20:48] jchodera opened #75 "GLIBC_2.14 issues"
Is there some way to enable executables compiled against GLIBC_2.14 to run on the cluster?

[2014-07-09 04:23] jchodera opened #76 "Default CUDA should be upgraded to CUDA 6.0"
CUDA 6.0 has now been stable for a while, and 6.5beta was just seeded to developers, so default should now be CUDA 6.0.

[2014-07-09 18:38] #74 closed, assigned to nobody

[2014-07-10 23:47] sheridancbio opened #77 "Disrupted connection to root filesystem / virtual disk image"
Two separate running virtualbox VMs developed the same problem simultaneously while running on two separate cluster compute nodes.

The symptom was that root filesystem accesses failed for most files (making ssh shell connection difficult), so attempts to connect through ssh would fail with an error message like:
bash: cannot access /etc/profile : Input/Output error
bash: cannot access /home/e/.pr

[2014-07-10 23:52] sheridancbio opened #78 "Question about host configurations and support for virtualization (VT-x, VT-d)"
The question is: are the nodes on the cluster configured for both VT-x and also VT-d ?
(these may be bios settings + kernel compilation options)

This is motivated in part to investigate possible causes for disk access problems, and in part to plan for future development.

[2014-07-18 16:54] #73 closed, assigned to nobody

[2014-07-18 17:32] #75 closed, assigned to nobody

[2014-07-19 05:49] mcg74 opened #79 "Old San Diego cluster python memory usage"
There has been cases that made me think that I am not able to use the desired memory as I want in python.

I log onto the cluster using:
which qlogin # /opt/sge/bin/lx-amd64/qlogin
qlogin -l mem_free=150G,h_vmem=150G

Then I do the following simple thing:
python

mat=np.zeros((400,1000,1000,1), np.float16) # works without error
mat.nbytes # 800000000 which is roughly 800 MB

mat2=np.zeros((400,100

[2014-07-26 00:13] #77 closed, assigned to nobody

[2014-07-26 00:17] #62 closed, assigned to nobody

[2014-07-29 10:30] #61 closed, assigned to csirving

[2014-07-29 10:31] #79 closed, assigned to nobody

[2014-07-29 13:59] #51 closed, assigned to nobody

[2014-07-29 15:25] nrosed opened #80 "Intermittent I/O errors on sd cluster"
For the past few days I have been getting read/write errors in my scripts. I will have to run the same script several times (without any changes) before it finally works. I am reading and writing  3-6G files, so I think it may be due to lack of memory or disc errors. Examples of commands that sometimes fail:

command: tail -n+37 filename
error:        tail: write error: Input/output error

command

[2014-07-29 17:53] jchodera opened #81 "Some nodes are missing GPUs"
I ran a script that executes `nvidia-smi` on each node, and the following nodes are showing missing GPUs or have nvidia driver issues:

[code]

Output from these nodes below:

[code]

[2014-07-29 18:10] jchodera opened #82 "Torque/Moab queue issues"
I'm not sure if this is an actual issue, or whether there is a hold on the queue, but I have two issues:
- I cannot delete a job that Torque thinks is still running (and was possibly "stuck" before the cluster went down):

[code]
- My newly queued job is still queued, though I think there are nodes free:

[code]

[2014-07-29 20:35] #81 closed, assigned to nobody

[2014-07-30 03:05] #80 closed, assigned to nobody

[2014-07-30 15:52] #55 closed, assigned to nobody

[2014-07-30 21:17] akahles opened #83 "Interactive Login on active Q"
I have problems getting an interactive login in the active Q:

[code]

However, it works for the batch Q.

[2014-07-30 22:04] #83 closed, assigned to nobody

[2014-07-31 15:00] nrosed opened #84 "Network unreachable from node02"
I am currently unable to ping www.google.com from node01, but I am able to ping from node02.

[2014-08-01 16:14] #84 closed, assigned to nobody

[2014-08-01 18:14] KjongLehmann opened #85 "Max q-able jobs"
I opened a new thread for this to keep things separate but it overlaps with previous issue on gpu-q. Max 2000 q-able jobs per user is a bit low for batch jobs. The problem is, that one array job with 600 slots are being counted as 600 jobs. I understand that we need a limit to avoid overloading (before we had none causing some issues), but 2K is a bit low. Something between 7K-10K should probably

[2014-08-04 16:23] #65 closed, assigned to nobody

[2014-08-04 16:34] #52 closed, assigned to nobody

[2014-08-04 16:46] tatarsky opened #86 "Removing "@sdsc.edu" from emails"
I will be attempting to re-cast the reply-to from the frontend to @hal.cbio.mskcc.org. We have no intention of actually receiving inbound email on these systems but we might as well clearly mark where they come from. Several of the other email related items will be re-evaluated and processed by me during this period.

[2014-08-04 18:43] tatarsky opened #87 "Tracejob sync restored"
A feature to allow tracejob use on the login node as been restored to service.

[2014-08-04 18:43] #87 closed, assigned to nobody

[2014-08-04 20:22] #66 closed, assigned to nobody

[2014-08-04 20:28] #6 closed, assigned to nobody

[2014-08-04 21:02] #2 closed, assigned to nobody

[2014-08-04 21:04] jchodera opened #88 "Set up hal-help@cbio.mskcc.org mailing list"
@ratsch and I just had a discussion where we thought it would be useful to set up a new `hal-help@cbio.mskcc.org` or `hal-sysadmin@cbio.mskcc.org` mailing list that should be used for security-sensitive that should not be posted on the github issue tracker.

@ratsch will handle its creation.

[2014-08-04 21:05] #76 closed, assigned to nobody

[2014-08-04 21:06] #4 closed, assigned to nobody

[2014-08-04 21:07] #30 closed, assigned to hocks

[2014-08-07 14:09] #5 closed, assigned to nobody

[2014-08-08 10:48] #67 closed, assigned to nobody

[2014-08-08 15:33] #3 closed, assigned to nobody

[2014-08-11 13:35] #53 closed, assigned to nobody

[2014-08-11 16:42] ratsch opened #89 "Cluster move completed, instructions to use, move-related issues here"
The cluster move from the San Diego Supercomputer Center to the
New Jersey Data Center has been completed successfully.
(Applause to the cluster guys and the NJ data center team!)

If you already have a login, you can login to the new system at
    hal.cbio.mskcc.org       (please note the change of the hostname).
To get an account, please fill out this form:
    http://tinyurl.com/kbeaegn

You sh

[2014-08-17 19:35] danielparton opened #90 "nvcc path"
Hi, I'm encountering problems with the CUDA nvcc path when running some GPU-enabled code on certain nodes.

I get the following error message:

[code]

I'm using an interactive session with tcsh, and with the "cuda/5.5" module loaded, $CUDA_HOME set to /usr/local/cuda-5.5, and /usr/local/cuda-5.5/bin included in $PATH.

On some nodes, there is a symlink: /usr/local/cuda -> /usr/local/cuda-5.5
But

[2014-08-18 14:56] #60 closed, assigned to tatarsky

[2014-08-20 23:55] jchodera opened #91 "CUDA 6.5 production release is out and should be installed"
Not urgent; install to replace CUDA 6.5 beta module when there is time to do so.

https://developer.nvidia.com/cuda-toolkit

CUDA 6.0 should remain the default CUDA until we have tested with 6.5 production release.

[2014-08-21 01:28] rj67 opened #92 "GeneTorrent works on head node but not on compute nodes"
I am using gtdownload to download TCGA exome bam files from CGHub. The program works fine on head node but doesn't work when I log into an interactive node or submit the job to queue. It is able to connect to the CGHub but doesn't download anything.

An example command is something like this,
~$ gtdownload -v -R /usr/share/GeneTorrent -c /path_to_credential_file -p /cbio/cslab/home/rj67 -d d33ae3a

[2014-08-21 17:50] pgrinaway opened #93 "GPU queue memory limits"
Hi,

Is there a low limit on available memory for GPU jobs, or is this:

`#PBS -l mem=10gb,nodes=1:ppn=1:gpus=1:shared`

not the correct way to request 10GB of RAM? The error that I get is:

[code]

Can the limit possibly be raised, if it's not that I'm doing something wrong here?

[2014-08-21 20:51] mcg74 opened #94 "MPC library installation"
Hi,

Would it be possible make a cluster-wide installation of the MPC libraries to the new cluster, hal.cbio.mskcc.org? Gunnar suggested these libraries which could be necessary to solve our problem:
libmpc.x86_64
libmpc-devel.x86_64
libmpcdec.x86_64

Thanks,
Mevlana

[2014-08-26 06:44] ratsch opened #95 "Can't ssh to hal from hal"
I got this little problem (which I can workaround in my ssh conf, but I think it should be fixed system-wide):
[mskcc-ln1 4] ~ > ssh -v hal.cbio.mskcc.org
OpenSSH_5.3p1, OpenSSL 1.0.0-fips 29 Mar 2010
debug1: Reading configuration data /cbio/grlab/home/raetsch/.ssh/config
debug1: Applying options for *
debug1: Reading configuration data /etc/ssh/ssh_config
debug1: Applying options for *
debug1: Co

[2014-08-26 13:09] #94 closed, assigned to nobody

[2014-08-26 16:14] #93 closed, assigned to nobody

[2014-08-26 19:09] akahles opened #96 "Install older GCC version on head node"
I ran into the problem of needing a gcc 4.4.X for some work, as the matlab mex compiler is not compatible with any of the current module-gccs:

[code]

In the modules, we currently have 4.6.1 and 4.8.1. Could you please add 4.4.X?

[2014-08-26 23:00] #90 closed, assigned to nobody

[2014-08-27 13:42] #96 closed, assigned to nobody

[2014-08-27 14:22] #85 closed, assigned to tatarsky

[2014-08-27 14:28] #82 closed, assigned to tatarsky

[2014-08-27 14:29] #14 closed, assigned to nobody

[2014-08-27 18:26] tatarsky opened #97 "Review of custom torque attribute "dr331""
As noted in #91 there is mention of setting "creating new driver-specific node properties". In reviewing the current list of attributes, I note there are several nodes marked with "dr331" which I assume is the nvidia driver.

However, not ALL nodes are marked with that property. So,

Is anybody using that property? And if not, I think I should remove it.

[2014-08-29 11:49] #92 closed, assigned to nobody

[2014-08-29 14:00] #68 closed, assigned to nobody

[2014-09-01 18:39] jchodera opened #98 "Debugging some new CUDA issues"
**Note that this is not time-critical and does not need to be addressed on the holiday weekend.  This can wait until normal business hours.  I'm just posting this now since I noticed it.**

I'm seeing a variety of CUDA errors I'm trying debug.

It appears that a batch of `ocore` jobs died.  These messages were seen for one running on `gpu-1-10`:

[code]

and

[code]

[2014-09-01 18:53] #98 closed, assigned to nobody

[2014-09-02 18:18] akahles opened #99 "Queue Limits"
I just realized that there is a Q limit set to 2K jobs per user on the batch queue. If I remember correctly, we did not have such a low limit but instead used MAXIDLEJOBS to prevent queue stuffing. Could we increase the queue limit again?

[2014-09-02 18:25] #97 closed, assigned to nobody

[2014-09-02 21:12] #99 closed, assigned to nobody

[2014-09-03 14:29] tatarsky opened #100 "OFFLINED nodes to reduce I/O during series of drive failures"
We have one LUN in RAID6 rebuild mode and another two about to start it once Dell fixes the drives that failed this morning. This is a non-ideal situation so we are attempting to reduce drive I/O to get all these RAID rebuilds done quicker.

Nodes in an offline state will finish the job on them but not start new ones. We will announce when the rebuilds are complete.

[2014-09-03 15:24] #88 closed, assigned to ratsch

[2014-09-04 22:03] #91 closed, assigned to nobody

[2014-09-06 11:06] #100 closed, assigned to nobody

[2014-09-08 00:53] ratsch opened #101 "Can't use gene torrent from compute nodes"
I tried using gtdownload from the compute nodes, but it does not appear to get any data.
Is there some network configuration issue?

/cbio/grlab/home/raetsch/git/projects/2013/PanCancerTCGA/LAML

./process_tcga_one_exome.sh started on gpu-2-9.local at Sun Sep 7 20:50:50 EDT 2014 with parameters /cbio/grlab/projects/TCGA/LAML_tmp/genome/xml//LAML/TCGA-AB-2915-03A-01W-0745-08.a116fa47-2886-4118-95d7

[2014-09-08 12:24] #89 closed, assigned to nobody

[2014-09-08 12:24] #101 closed, assigned to nobody

[2014-09-08 18:01] akahles opened #102 "Improvement of scheduling order"
How is the current order for scheduling determined / set? Currently it seems, that the nodes are filled (dependent on requirements) in order of their hostname. Would it be possible to change that order such that least specific nodes are filled first and most specific nodes are filled last. By specific I mean the set of properties the node has. For instance, node gpu-1-4 has the properties `batch,g

[2014-09-09 17:34] #70 closed, assigned to tatarsky

[2014-09-10 21:16] KjongLehmann opened #103 "Current IO seems slow"
Hi,
sorry for the bother, but it seems to me as if the IO is quite slow. More specifically I am running a few simple scripts and they seem to be waiting a lot for data. Is this simply still an artifact of our disk failures from last week or is this potentially a separate new issue/problem?
Thanks

[2014-09-11 01:36] ratsch opened #104 "Can't login. Timeout during ssh."
Might be related to previously reported issue on FS slowness.

[2014-09-11 14:31] #104 closed, assigned to nobody

[2014-09-13 00:00] jchodera opened #105 "Revisiting fairshare policies on gpu queue"
I just submitted a single gpu job, and it appears the wait time is over two days:

[code]

There are a few users ahead in the queue, but it is surprising that fairshare would make a user wait several days to run a single job.

[code]

[2014-09-15 16:09] #103 closed, assigned to nobody

[2014-09-15 17:29] danielparton opened #106 "Reorganize cbio-cluster wiki"
Currently everything is on a single long page, which I think is difficult to navigate. I'd like to reorganize along the lines of a typical supercomputer user guide, e.g.:
https://bluewaters.ncsa.illinois.edu/user-guide
My plan would be to have a front page containing a summary of the cluster configuration, a small amount of basic information to get people up and running quickly, and a list of link

[2014-09-15 18:30] danielparton opened #107 "Interactive gpu job slow to start"
Hi, I'm trying to start an interactive job using one process and one gpu - the job has been queued for over an hour and has not started yet. I'm trying to figure out if there is a good reason for that, or if there might be some problem with the scheduling configuration.

There are a few non-interactive gpu jobs ahead of mine:

[code]

The only gpu job which is running is an array job, which reques

[2014-09-15 19:00] #105 closed, assigned to nobody

[2014-09-15 20:05] akahles opened #108 "[not urgent] Group Target Values in Fair Share System"
I have a question regarding the fair share prioritization. When I or our group exceed the target value for the fair share system, weighted negative values are used for computing the job priority (which is good, and intended). My question is now how groups are handled that show no group target value in ```mdiag -f```. Is there a default target value that is used instead or will these groups never e

[2014-09-16 03:57] jchodera opened #109 "New disk failures; some nodes temporarily removed from service"
Two disks have failed.  Following drive swaps, the LUNs are rebuilding:

[code]

@tatarsky will temporarily remove some nodes from service overnight so that new jobs will not start, reducing I/O and speeding rebuild. Running jobs should not be affected.

[2014-09-17 00:01] kuod opened #110 "Suspending jobs leads to their cancellation"
As I was trying to suspend my jobs, I used the following command found [from Adaptive Computing](http://docs.adaptivecomputing.com/maui/commands/mjobctl.php)

[code]

The output was the following:

[code]

My job was killed instead of suspended. Two questions: Was this the correct command to use for suspending jobs and could this be a result of the preempt policy https://github.com/cBio/cbio-clust

[2014-09-17 21:24] kyleabeauchamp opened #111 "Question on requesting GPUs"
I'm trying to understand how GPUs get allocated when someone requests multiple nodes (for MPI), but I can't quite wrap my head around it.  For example, when I request 4 nodes and 1 GPU per node (submission script here: https://gist.github.com/kyleabeauchamp/0dc457c22a13304476fc#file-test-sh), I get only CUDA_VISIBLE_DEVICES = "3,2,1" on all four nodes (output here: https://gist.github.com/kyleabea

[2014-09-18 12:54] #109 closed, assigned to nobody

[2014-09-18 21:20] KjongLehmann opened #112 "Node gpu-1-9 down"
Just receiving a bunch of emails about all jobs on this node being preempted due to node failure (e.g.: 2369366[42])

[2014-09-19 03:10] akahles opened #113 "System reading speed very slow, close to unresponsive"
In  the last few hours I observe very odd behavior. I have processes loading a large binary file into memory (30G-40G). This should usually be done in seconds. However, now I see reading speeds of 2 to 10 MB per second, which will take forever. Two processes that I monitored are 23485 and 28537 on gpu-1-6 but I have the similar problem on other nodes as well.

[2014-09-19 12:11] #113 closed, assigned to nobody

[2014-09-19 13:02] #9 closed, assigned to nobody

[2014-09-19 15:29] kana-s opened #114 "CPU load average was not 100%"
I have a job which uses 32 cores on single node.
When I submitted the job via qsub, the CPU load average was usually around 30% and the Walltime to finish the job was about as three times as the CPU time, though I requested 32 cores for the job.

When I logged in the same node and run the same program with the same option, the CPU load average became close to 100%, and it seemed that the job will

[2014-09-19 17:40] jaavedm opened #115 "ssh "Connection timed out""
Several of my jobs are failing on the cluster today. I am getting this error:

[code]

I've not had this problem in the past (or even earlier today). The connectivity issues are occuring from several nodes, a subset of which are:

[code]

I've verified that I can connect to `cbsulogin.tc.cornell.edu` from the hal login node.

[2014-09-19 20:02] ratsch opened #116 "Data that will be parked outside of hal for 1-2 months. Please comment."
In order to deal with the increased drive failure situation, we are planning to transfer the cancer exomes from UCEC, THCA, COAD, GBM, LUAD, KIRC, BRCA and OV and the cancer whole genomes from LUAD, LUSC, THCA, HNSC to a location that will not be accessible from the cluster. The rationale is that we need to free up space in order to fully replicate the file system in order to reduce the risk of da

[2014-09-19 20:32] #115 closed, assigned to tatarsky

[2014-09-19 21:25] jchodera opened #117 "No route to hal.cbio.mskcc.org from login node?"
I just noticed it doesn't seem like I can ssh from the login node to hal.cbio.mskcc.org.  Alias issue?

[2014-09-20 11:39] #95 closed, assigned to nobody

[2014-09-21 14:16] rgejman opened #118 "Revisit interactive queue policies: Are changes needed to prevent multiple nodes from being claimed at high priority for days?"
gpu-1-12, gpu-1-12, gpu-2-17 are all showing 0% load and no running jobs despite a queue of waiting jobs. Any idea why this might be happening?

[2014-09-21 14:23] jchodera opened #119 "Improve ability to contact cluster users based on login names"
At some point, we need to solve the issue of how to easily contact users that are doing bad things.

Once things have settled down, I would really like to put in place a mechanism by which the `.plan` file is required to be correctly filled out in order to access the cluster.

[2014-09-21 15:21] #117 closed, assigned to nobody

[2014-09-22 16:57] rgejman opened #120 "Some nodes appear to be underutilized by queueing system"
There are a few nodes that appear to be underutilized despite >3,000 waiting jobs. For instance, gpu-1-4, gpu-1-5, gpu-2-5 and gpu-3-8 all have 0% load with 0-1GB of memory utilized. This appears to be a different issue from #118 because I don't see any jobs that are holding those nodes open.

[code]

Logging in by top seems to verify these results. Am I missing something or is this a bug/configur

[2014-09-23 19:52] jaavedm opened #121 "Accessing main campus resources from hal"
I'm curious if we can access computing resources (office machine, lab share space, etc) on the main campus from hal. I just tried ping'ing a couple of machines via IP and Fully Qualified Domain names and they don't seem to be found:

[code]

I thought all of these machines, including hal, are on a common MSKCC network. Is this not the case?

[2014-09-23 20:06] #112 closed, assigned to tatarsky

[2014-09-23 20:19] #107 closed, assigned to nobody

[2014-09-23 20:42] #121 closed, assigned to nobody

[2014-09-24 12:52] #114 closed, assigned to tatarsky

[2014-09-25 14:13] corcra opened #122 "bash vulnerability (shellshock)"
In case anyone hasn't already heard, a vulnerability in bash was recently uncovered (technical info: http://www.openwall.com/lists/oss-security/2014/09/24/11 not accessible from MSKCC, less-technical: http://www.troyhunt.com/2014/09/everything-you-need-to-know-about.html). I don't know how vulnerable the cluster is to this, but maybe bash should be patched to be safe?

[2014-09-25 14:26] #122 closed, assigned to nobody

[2014-09-25 14:47] #46 closed, assigned to nobody

[2014-09-25 16:46] danielparton opened #123 "Problem using multiple GPUs"
This is probably the same problem as #111 ("Question on requesting GPUs"), but I wanted to add this so we have a record. Once we have a solution for #111 (e.g. upgrading Torque), it would be good to check whether this problem is also resolved.

I have some Python code which runs multiple independent simulations on GPUs in parallel. Each simulation runs on a single GPU, so the parallelization (with

[2014-09-25 18:41] jaavedm opened #124 "Sandbox queue for testing scripts"
The cluster has been pretty saturated lately and it takes about 2 hours for my job on the batch queue to start running. Is there a queue for testing scripts that can start running immediately? You know, for the sole purpose of testing scripts. Or is this the purpose of the active queue.

[2014-09-25 19:04] KjongLehmann opened #125 "gpu-1-9 and gpu-1-7 heavily overloaded"
gpu-1-7 is at 120% and gpu-1-9 at 103% load.

[2014-09-25 19:35] #125 closed, assigned to nobody

[2014-09-25 21:12] shenkers opened #126 "job dependencies"
Hello,

Is there a way to specify dependencies between jobs using the queue system? For example, I have job_A and job_B, and I want to submit them both to the queue, but only run job B after job A is completed. If job A had id "id_A", I am used to writing:

qsub -hold_jid id_A job_B

Is there some way to do this on our cluster?

Thanks,
Sol

[2014-09-25 21:16] #124 closed, assigned to nobody

[2014-09-25 21:22] #126 closed, assigned to nobody

[2014-09-26 18:29] jaavedm opened #127 "Installation of Oracle Java JDK and JRE 1.8"
Can java 8 be installed on hal. Right now /usr/java/latest points to version 1.7.
I'd like the Sun Hotspot version installed rather than the OpenJDK one please. Thanks.

[2014-09-27 17:13] danielparton opened #128 "Problem with MPI and hostnames"
The $HOSTNAME environment variable appears to be set incorrectly for mpirun jobs using more than one node. All MPI processes return the hostname of the first node, using tcsh or bash. However, a Python script containing `import socket; print socket.gethostname()` returns the expected hostnames.

(Note: this was previously mentioned indirectly in #111.)

Details follow.

I started an interactive se

[2014-09-28 01:26] tatarsky opened #129 "GPFS status overall issue for referencing"
Please reference the following Git issue if you believe things are slow in the filesystem so that I can spot the complaint if buried another issue. I will try to keep a running discussion of known items and investigate all complaints as best possible.

As of 9/27/14 @ 21:20 the following items are being observed which may contribute to the matter:
1. Replication of unreplicated data to both the fo

[2014-09-29 16:41] #127 closed, assigned to nobody

[2014-09-30 21:06] #123 closed, assigned to nobody

[2014-10-01 02:21] jchodera opened #130 "Requesting >30 gpus or processes, regardless of node"
This may be a question for Adaptive Computing.

We're trying to figure out how to request 32 gpus for an MPI job, where the GPUs can be on any node(s).

@hocks suggested the syntax for this was

[code]

but I get the following error:

[code]

It looks like Torque is getting confused and thinking I'm requesting more nodes than we have.  Note that when I request < 30 nodes this way, many of them end

[2014-10-01 03:49] #130 closed, assigned to nobody

[2014-10-01 12:57] tatarsky opened #131 "Compute jobs on mskcc-ln1"
I've been noticing an uptick of what sure looks like compute jobs being run on mskcc-ln1.
Could perhaps I get a second opinion?

 PID USER      PR  NI  VIRT  RES  SHR S %CPU %MEM    TIME+  COMMAND
36120 smoonsam  20   0 29908 6920 2172 R 100.0  0.0   5:35.11 cpptraj
15838 smoonsam  20   0 29908 6912 2172 R 99.7  0.0   3:58.10 cpptraj
26730 smoonsam  20   0 29908 6916 2172 R 99.7  0.0   6:03.54 cpp

[2014-10-01 13:14] #131 closed, assigned to nobody

[2014-10-01 18:01] jaavedm opened #132 "Use of /cbio/ski/projects/ directory"
Most major sponsor labs have a "projects" directory for storing common project files on hal. For the "other" users of the cluster that fall under the "ski" group, I was curious of the purpose of the /cbio/ski/projects/ folder. Should we be able to store common data under this directory? For example, it would make more sense to store datasets used by various members of the Lai Lab here rather than

[2014-10-02 01:21] tatarsky opened #133 "mskcc-ln1 (aka hal) kernel panic"
We are looking at the unit.

[2014-10-03 11:06] akahles opened #134 "Install libgd"
One of the tools I would like to compile on the headnode requires `libgd 2.0.28 or higher`. Would it be possible to install it?

[2014-10-03 15:33] callosciurus opened #135 "R not starting"
I cannot start R since as of today. Any idea why this is happening?

/usr/lib64/R/bin/exec/R: symbol lookup error: /opt/Anaconda/1.6.0/lib/libreadline.so.6: undefined symbol: PC

[2014-10-03 19:32] #135 closed, assigned to nobody

[2014-10-06 13:39] #120 closed, assigned to tatarsky

[2014-10-06 13:39] #134 closed, assigned to nobody

[2014-10-06 16:23] KjongLehmann opened #136 "Parallel hdf5"
Hi,
is it possible to install hdf5 in parallel mode. I can install it for myself, but I am sure more people may use it. Could be made available in package manager?
Cheers

[2014-10-08 15:27] jchodera opened #137 "Long-running jobs on gpu queue"
We just noticed there are some very long-running jobs (800 h = 33 d) jobs on the `gpu` queue that effectively lock up resources in a way that fairshare cannot manage.  For example:

[code]

We will likely change policy to limit `gpu` jobs to a reasonable timescale, such as 72h.  Jobs should always be checkpointing and resumable so they can be broken into chunks.

[2014-10-08 16:29] #137 closed, assigned to nobody

[2014-10-08 19:57] jchodera opened #138 "GPUs that are not empty seem to be assigned?"
I started an interactive session in the `active` queue and was sent to gpu-1-4 for gpu device 0:

[code]

However, it looks like there is something running on device 0, since there are 91MiB used:

[code]

(free memory should be ~12 MiB for free GPUs)

Any idea what might be going on?

[2014-10-10 15:27] apastore opened #139 "Fastqc on Hal cluster"
Hi I am new to the hal Cluster. do you provide FastQC software and alignment pipeline on the Cluster?
Thanks
Alessandro

[2014-10-10 15:29] #119 closed, assigned to tatarsky

[2014-10-10 21:46] ratsch opened #140 "Docker infrastructure"
We would like to look into using docker (https://www.docker.com) to implement some reproducible standard operating procedures. Can you please install the necessary infrastructure such that we can use docker as a normal user?

[2014-10-13 21:20] #132 closed, assigned to nobody

[2014-10-14 14:44] ratsch opened #141 "How to directly forward X11 from compute node to desktop?"
I'd like to start a GUI on a compute node and have the X11 window displayed on my desktop. I couldn't get it to work. I tried:
ssh -X hal
echo $DISPLAY (giving display number XX)
qlogin -m 8G
export DISPLAY=mskcc-ln1:XX.0

I get:
[gpu-1-8 2] ~ > xterm
xterm Xt error: Can't open display: mskcc-ln1:17.0

Forwarding the display from the head node to my desktop works.

[2014-10-15 17:59] akahles opened #142 "Install cgsubmit on the headnode"
Could you please install the package provided on the following page on the headnode?
https://cghub.ucsc.edu/software/submitters.html

[2014-10-15 18:18] tatarsky opened #143 "SHUTDOWN NOTICE"
We have reached a level of failed drives were we are going to shutdown the scheduler.

If you can exit your jobs cleanly, please do so. Otherwise in 30 minutes we are disabling the scheduler.

[2014-10-16 12:16] #143 closed, assigned to nobody

[2014-10-17 03:54] ask054 opened #144 "all CUDA-capable devices are busy or unavailable"
Hi,

As requested, I have added the following command to my submission scripts:

[code]

However, when I submit a script to the batch queue now, it either starts running or it is cancelled with an "Error selecting compatible GPU all CUDA-capable devices are busy or unavailable" in which case my job disappears from the queue. Is there a way I can circumvent this issue and stay in the queue?
Output:

[2014-10-17 04:02] mcg74 opened #145 "GPU memory issue with Theano"
Hi,

I am trying to use the cluster GPUs with theano in interactive mode:

[code]

Since around last Thursday, I have been getting a memory related error when trying to import theano to python. Until Thursday, I have been using the GPU with theano without these issues. This is what I have been looking at the issue tracker believing this was the source of problems: https://github.com/cBio/cbio-clus

[2014-10-17 13:12] #141 closed, assigned to tatarsky

[2014-10-17 13:13] #133 closed, assigned to tatarsky

[2014-10-17 13:40] #145 closed, assigned to nobody

[2014-10-17 13:43] #139 closed, assigned to nobody

[2014-10-17 13:44] #86 closed, assigned to tatarsky

[2014-10-17 18:08] rgejman opened #146 "Installing a newer version of R"
Would it be possible to install a newer version of R (>= 3.0.2) on the cluster so that we can use dplyr? R v3.0.1 version is not supported by dplyr. This could be done via the module system if there is concern about breaking other people's R scripts.

Thanks!

Ron

[2014-10-17 19:43] #144 closed, assigned to nobody

[2014-10-20 00:05] #106 closed, assigned to nobody

[2014-10-20 14:30] #146 closed, assigned to tatarsky

[2014-10-20 15:58] jchodera opened #147 "Please list any open Torque/Moab queue issues here"
We're capturing a list of outstanding issues with Torque/Moab in advance of our discussion with Adaptive on Tuesday.

Please comment here with any issues (or links to issues) that are still problematic.

This is time-sensitive, so please get your issues in TODAY (Mon 20 Oct) if possible.

[2014-10-21 21:16] Xerez13 opened #148 "Simple Question regarding cufflinks."
I am attempting to install cufflinks in one of my directories. Cufflinks requires Boost C++ libraries in order to install. I have installed the Boost C++ Libraries into a desired directory and have gotten the following output:

The Boost C++ Libraries were successfully built!

The following directory should be added to compiler include paths:

[code]

The following directory should be added to lin

[2014-10-21 23:51] #148 closed, assigned to nobody

[2014-10-23 13:39] tatarsky opened #149 "Reduced Coverage Friday 10/23"
In transit to location to start drive migration effort. Expect limited response on items.

[2014-10-28 00:04] #149 closed, assigned to nobody

[2014-10-29 10:05] tatarsky opened #150 "Reduced Coverage Wednesday 10/29"
I will be returning home today and in transit most of the day.

[2014-10-29 13:18] ratsch opened #151 "/opt/moab/bin/ on compute nodes"
I'd like to use commands in /opt/moab/bin/, but it appears only mounted on the head node, but not on the compute nodes.

[2014-10-29 15:42] ratsch opened #152 "Most (of my) jobs aren't scheduled"
The cluster is rather empty, but many of my jobs and that of other's aren't scheduled.
@tatarsky can you please have a look at it when you get to it?

Looks like many of the nodes reject jobs.

[2014-10-29 16:24] ratsch opened #153 "Please install ODBC libs."
I need to access a database and need libodbc.so. Appears to be in a standard package libioebc.

[2014-10-29 23:45] #152 closed, assigned to tatarsky

[2014-10-30 11:00] #150 closed, assigned to nobody

[2014-10-30 11:04] #153 closed, assigned to nobody

[2014-10-30 19:59] tatarsky opened #154 "Torque/Moab Update Tuesday 11/4 CANCELLED"
We are planning on Torque and Moab being down most of 11/4.

I will shortly issue a reservation to enforce that so please if you object do so soon.

[2014-10-31 17:22] #151 closed, assigned to tatarsky

[2014-11-01 20:20] ratsch opened #155 "Scheduler does not appear to schedule jobs"
I'm trying to run jobs in queue active and batch and they are not scheduled. The cluster appear rather empty.

[2014-11-01 20:44] #155 closed, assigned to nobody

[2014-11-04 14:47] #154 closed, assigned to nobody

[2014-11-05 16:34] rgejman opened #156 "Install tmux on head node"
Would it be possible to install `tmux` on the head node? This is a terminal multiplexing alternative to `screen` that has many advantages.

I am happy to install it locally, but the libevent dependencies are not being detected properly by ./configure...

[2014-11-06 17:19] tatarsky opened #157 ".plan file checker pre-test"
We've been asked to try to get a simple set of items into all users .plan file for finger use. We've been doing so on new accounts, but some older ones probably don't have all the requested fields.

Before we make it a profile.d item on interactive login, if you wish to run it manually you can on mskcc-ln1 issue:

[code]

Please note:
1. If it returns saying nothing your .plan is fine
2. Its not t

[2014-11-07 16:24] tatarsky opened #158 "Torque Update for Tuesday November 11th"
We have been informed that version 8.0.1 of Torque is now available and we would like to schedule the reservation for doing the upgrade on Tuesday November 11th starting as early as we can in the morning.

Aka next Tuesday.

Objections please to here. Same planned day of downtime as the previous attempt.

[2014-11-07 20:46] rgejman opened #159 "Jobs not being scheduled"
I am trying to get a 24h interactive job with 1 CPU and 75GB of memory (`qsub -I -q active -l mem=75gb -l walltime=24:00:00 -l nodes=1:ppn=1`) and have been waiting for ~20 min now--usually it's pretty instantaneous. Given the cluster utilization, this should have been scheduled right away as there are many nodes with free memory and only 752 cores are in use.

I suspect this means that failed job

[2014-11-07 21:38] #156 closed, assigned to tatarsky

[2014-11-08 21:03] karalets opened #160 "Jobs executing at a snail's pace"
Hi,

It's been pretty exactly two days since some jobs (in this case Mevlana's, but it also happened to one of mine) are running at a fraction of their speed on wednesday, even though they get scheduled.

Andre divulged (\cite{Kahles, Karaletsos & lab, personal communication}) that he also experienced this lately.
It is especially strange how long it takes to load even moderately sized data-sets f

[2014-11-10 19:57] kuod opened #161 "PST on Compute Nodes and EST on Head Node"
A non-urgent observation.

The time zones are different between the compute nodes and the head node. You'll have to take my word for it that I executed these commands at around the same time and didn't find a flux capacitor enabled Delorean.

[code]

[2014-11-10 23:54] jchodera opened #162 "syslogd messages on gpu-1-9 (not urgent; can wait until next business day)"
I'm seeing messages like these on an interactive session on `gpu-1-9`:

[code]

[2014-11-11 13:05] #160 closed, assigned to nobody

[2014-11-11 20:17] ratsch opened #163 "aspera client"
Please install the aspera download client on the hal and node01:
http://downloads.asperasoft.com/en/downloads/2

Thanks!

[2014-11-11 21:39] tatarsky opened #164 "Need CUDA_VISIBLE_DEVICES testers"
If you are able to work with me on the CUDA_VISIBLE_DEVICES validation, please let me know.

[2014-11-11 21:51] #161 closed, assigned to nobody

[2014-11-11 21:52] tatarsky opened #165 "Torque Update Status and ongoing"
We have Torque moved to 5.0.1 and Moab to 8.0.1.

To be VERY clear we are running with the SAME configuration. We've not started the process of changing any settings to fix problems.

We would like to verify the CUDA_VISIBLE_DEVICES item as the first "did this get fixed" as we thought with the Torque update. I have NOT modified psb_maui.sh yet.

Track that effort over here #164

[2014-11-11 22:04] #158 closed, assigned to nobody

[2014-11-12 11:24] #159 closed, assigned to nobody

[2014-11-12 11:26] #163 closed, assigned to nobody

[2014-11-13 05:18] jchodera opened #166 "/opt/torque is different on login and compute nodes"
[code]

[2014-11-13 15:51] #128 closed, assigned to nobody

[2014-11-13 16:57] #166 closed, assigned to nobody

[2014-11-13 21:32] #164 closed, assigned to nobody

[2014-11-13 21:33] #111 closed, assigned to tatarsky

[2014-11-13 21:52] #142 closed, assigned to tatarsky

[2014-11-13 22:07] rgejman opened #167 "qdel gives error on batch jobs"
I am trying to kill my batch job 2513272 using the command `qdel -t 1-315 2513272` but I get the following error message:
```qdel: Unauthorized Request  MSG=must have operator or manager privilege to use -m parameter 2513272.mskcc-fe1.local                                                                                                                               ```

Not sure what that means or

[2014-11-13 22:53] vipints opened #168 "python DRMAA library is not working after the Torque update"
With python, I have been using `drmaa` module to control my jobs (dispatch/monitor) on the `hal` cluster.  It was working nicely until last Monday and after the `torque/moab` upgrade I am not able to load this module in python environment. I am very clear about the error message.
`OSError: PATH_TO/lib/libdrmaa.so: undefined symbol: _Z14memmgr_destroyPP6memmgr`
I will be posting the details of the

[2014-11-14 23:12] pgrinaway opened #169 "Interactive submission fails intermittently"
Occasionally when I run the command
`qsub -I -l walltime=00:99:00 -l nodes=1:ppn=1:gpus=1:shared -q gpu`
 to get an interactive session, I get the following error:

[code]

[2014-11-15 00:36] #169 closed, assigned to nobody

[2014-11-16 23:53] mcg74 opened #170 "Python import and loading data works very slow"
Hi,

I am trying to run some experiments with python but the importing of the libraries and loading of the data takes huge amounts of time, sometimes more than an hour.  We had a similar issue last week (#160) and I wanted to ask if this is still the issue of migrating data etc. When can we expect that it will get better if this is the case?

Thanks
Mevlana

[2014-11-17 14:07] ratsch opened #171 "New group shared for organizing software/data in /cbio/shared"
I'd like to request a group "shared" that should contain users that should be authorized to organize software and data in /cbio/shared. I suggest to add me and akahles. Others on request and coordinated.

[2014-11-17 14:50] KjongLehmann opened #172 "Array jobs not being cleared from Q after completion"
This may be related to issue 170, but completed array jobs do not seem to be removed from the Q. In my case I can still see 2513464-2513471.

[2014-11-17 15:44] rgejman opened #173 ""request to copy stageout files failed""
I am getting some strange errors on a small number of the jobs I've been running on the cluster the past 24 hours. I am not sure if these errors are related to #170, hence the new issue.

This is the last error I received:

[code]

The same sort of error messages has occurred on jobs 2518113, 2518367, 2518369, 2518371, 2518462, 2518532, 2518937, 2519505, 2519494,2519468
Nodes involved: gpu-1-8, 1-

[2014-11-17 22:58] #171 closed, assigned to nobody

[2014-11-17 23:48] ratsch opened #174 "Enable creation of DISK-USAGE* files."
We disabled them to reduce disk I/O. When dellaster is over/under control, then I'd like to enable the cron daemon again.

[2014-11-18 00:15] tatarsky opened #175 "Shared Memory straglers"

[2014-11-18 00:17] #175 closed, assigned to nobody

[2014-11-18 16:08] tatarsky opened #176 "Attempting submission filter again on mskcc-ln1"
Rob from Adaptive is preparing to try the submit filter again on mskcc-ln1 today in order to handle a request to "disallow jobs that do not request at least one GPU resource" in the GPU queue.

While a lower priority item, its one he'd like to handle.

If you experience any submit errors please update this issue. The deployment is currently only in a debug mode and not doing the filtering.

[2014-11-18 17:38] #162 closed, assigned to tatarsky

[2014-11-18 17:40] #176 closed, assigned to nobody

[2014-11-18 18:01] #174 closed, assigned to nobody

[2014-11-19 00:24] tatarsky opened #177 "Something wrong with Moab...investigating"

[2014-11-19 00:33] #177 closed, assigned to nobody

[2014-11-19 00:51] #118 closed, assigned to nobody

[2014-11-19 12:29] #173 closed, assigned to nobody

[2014-11-19 12:30] #170 closed, assigned to nobody

[2014-11-19 14:18] #157 closed, assigned to tatarsky

[2014-11-19 14:37] juliebehr opened #178 "pbs_server crashed on mskcc-fe1"
At some point within the past half hour, I am no longer able to check qstat or submit jobs.  Attempting to do so results in the following:

-bash-4.1$ qstat

Unable to communicate with mskcc-fe1.local(10.240.16.1)
Cannot connect to default server host 'mskcc-fe1.local' - check pbs_server daemon and/or trqauthd.

Unable to communicate with mskcc-fe1.local(10.240.16.1)
Cannot connect to default serv

[2014-11-19 18:31] tatarsky opened #179 "Removing Torque node attributes "dr340" and "dr331""
There was a previous node attribute that was supposed to mark the version of the Nvidia driver.
As all nodes are now the same my thought was to simply remove the concept from the node attribute.
I don't believe anyone uses it. And its wrong anyway on most of the nodes.

I also believe the gpu_status contains the same data:

[code]

Although I don't know if that is usable from a qsub. I can mess wi

[2014-11-19 19:45] tatarsky opened #180 "Change notice...fixed msub we believe"
The new moab version may be a bit more strict on submit host allows. We noted that "msub" stopped working with a permission error and have now we believe fixed that.
While we have no idea if anyone uses msub, if you noticed the same, we believe it to be corrected.

This will be left here for tracking purposes of changes for 12 hours.

[2014-11-19 19:55] tatarsky opened #181 "Change notice...fixed man pages for Moab tools"
The profile.d on the head node was not correctly setting the MANPATH additions for the Moab client tools. Corrected.

[2014-11-19 20:56] #181 closed, assigned to nobody

[2014-11-20 15:01] #180 closed, assigned to nobody

[2014-11-20 18:24] tatarsky opened #182 "IMPORTANT switching migration methods"
We have done some additional research and planning to hopefully improve the speed of the migration while not degrading your performance. And keeping the same relative risk level.

However, we need to try a LUN this way to confirm. We are preparing the process now.

One major benefit of the method change is it now can be stopped.

Please report here if you feel your I/O drops. We are also monitorin

[2014-11-20 22:36] #179 closed, assigned to nobody

[2014-11-20 23:04] #110 closed, assigned to tatarsky

[2014-11-21 14:17] #178 closed, assigned to nobody

[2014-11-21 21:23] tatarsky opened #183 "Add to wiki the frequent question about head node Java"
The shell limits on the head node are set deliberately low to encourage interactive qsubs.
This can be confusing for Java users as it results in the dreaded:

[code]

We should document quickly "please use a qsub -I for such things" or change the shell limit to at least exec java somewhat.

I can add some verbage later, but am opening this to remember the emailed item.

[2014-11-22 16:51] KjongLehmann opened #184 "Scheduler down"
Hi,
the scheduler just went down and this time I am certain that it was me. I essentially performed a qdel on array jobs which looked complete (issue 172) and after that the whole scheduler went down.

[2014-11-23 14:10] #184 closed, assigned to nobody

[2014-11-24 13:11] tatarsky opened #185 "Thanksgiving Week Support"
I intend to take several days off this week but will provide some degree of monitoring as I am pushing the drive migration hard to try to get phase 1 complete. I am not traveling but family is coming to me. So just expect some degree of reduced response on non-critical items.

If you are planning what you feel might be large levels of I/O these next few days please drop me a comment here as I am c

[2014-11-24 16:51] #183 closed, assigned to nobody

[2014-11-24 22:27] rgejman opened #186 "Request to copy stageout files failed (redux)"
Referencing issue #173, which I can't seem to re-open. I hope this is not a bad portent.

[code]

[2014-11-25 19:33] rgejman opened #187 "gpu-2-17 failure"
Alerting you here in case your automated system isn't working properly...

[code]

[2014-11-25 19:38] akahles opened #188 "Interactive job killed due to preemption?"
One of my jobs on the interactive/active queue got killed due to preemption / node failure:

E-mail:

[code]

Output from checkjob:

[code]

tracejob:

[code]

(Masked some user info)

[2014-11-25 19:54] #188 closed, assigned to nobody

[2014-11-25 21:09] tatarsky opened #189 "Looking at various items with Adaptive"
The consultant that did the Torque work is looking at a few of these recent issues with me to make sure we've sorted them properly. Just FYI in case our checks trigger anything, I wanted this time of looking noted.

[2014-11-26 13:21] #189 closed, assigned to nobody

[2014-11-30 14:38] #182 closed, assigned to nobody

[2014-11-30 14:38] #185 closed, assigned to nobody

[2014-12-02 22:16] tatarsky opened #190 "Likely coverage gap next 24 hours"
I am likely going to come and take care of the drive swaps and another client matter in Baltimore. I am still planning how I will do this, but it will involve delayed response.

[2014-12-04 12:24] tatarsky opened #191 "Torque server debug effort Friday Afternoon"
Adaptive would like to have a developer of theirs work on the core dumping pbs_server with me on the frontend on Friday around 12:30PM.

This should NOT impact running jobs but may involve stopping and starting the pbs_server as debug efforts continue.

Does this impact anyone severely? They and I would like to resolve the reproducible problem in #172.

[2014-12-04 12:42] tatarsky opened #192 "Orphaned shared memory segments emails"
We've noted lately more orphaned shared memory segments and while we were scripting the cleanup periodically I think we'll have the node email the person an email like this on a daily basis:

[code]

What do folks think? Alternately we can DO the remove if nattach=0 and email the user we actually did so. But perhaps the notice first for a bit?

[2014-12-04 17:52] #190 closed, assigned to nobody

[2014-12-05 03:17] vipints opened #193 "Requesting generic resource matlab on the cluster-node"
@tatarsky as we discussed here at campus today, could you please consider enabling per node-locked `matlab` license available for batch jobs?

`hostname`
`matlab 1`

Thanks!

[2014-12-05 18:11] karalets opened #194 "Open nx et al."
Hi,

Paul, I wanted to relate this post to the issue of openNx and the potential replacements we talked about in person. It would be great to look at the issue with the keyboard existing in OpenNx and see what causes this, how we can fix it and if we should consider changing client altogether instead of debugging.

Best,

Theo

[2014-12-06 06:05] #191 closed, assigned to nobody

[2014-12-08 01:57] akahles opened #195 "Jobs not scheduled due to node reservation"
We had this issue before, but I was not able to find it on the first two looks. 8 nodes do not accept jobs due to some reservation policy:

[code]

Sadly it is mostly the matlab enabled nodes.

[2014-12-08 22:57] akahles opened #196 "cbio not reachable from hal"
Is it intentional that cbio.mskcc.org is not reachable from hal?

[2014-12-09 00:55] #187 closed, assigned to nobody

[2014-12-12 19:32] #129 closed, assigned to tatarsky

[2014-12-16 02:17] #168 closed, assigned to nobody

[2014-12-17 14:06] #140 closed, assigned to tatarsky

[2014-12-17 14:24] #195 closed, assigned to tatarsky

[2014-12-17 17:01] jchodera opened #197 "What high priority scheduler issues remain to be resolved?"
We have sometime left with Adaptive Computing to resolve additional issues.

Besides the scheduler segfault issue (#172), what other high priority issues do we have?

[2014-12-17 17:22] #165 closed, assigned to nobody

[2014-12-17 21:56] tatarsky opened #198 "Torque pbs_server running in a debug mode again"
We are trying to narrow down the heap item but there is also a patch in this version running.

Performance will be a little slowed.

[2014-12-17 23:41] #198 closed, assigned to nobody

[2014-12-18 18:55] #138 closed, assigned to nobody

[2014-12-18 18:56] #147 closed, assigned to nobody

[2014-12-18 19:59] tatarsky opened #199 "Active queue overcommitment change proposal"
This will not occur today but we are discussing it here to meet this request:

"Jobs in the active queue should run as cpu overcommitment. They don't need a full CPU allocated. This takes into account that they are mostly idle. The number of interactive jobs allowed per user can be increased at that point."

We believe this can be accomplished by setting /var/spool/torque/server_priv/nodes to have

[2014-12-18 20:13] tatarsky opened #200 "Deploying job filter for gpu queue without requested gpus"
We will be deploying per this request "disallow jobs that do not request at least one GPU resource" a torque submit filter. We have tested it on mskcc-fe1. We would like to deploy it on mskcc-ln1.

It is very quick to back out if we discover a problem in the filter. If I do not hear objections in an hour or so I will deploy it.

[2014-12-24 03:11] jchodera opened #201 "Periodic Torque errors when no jobs are running [NOT URGENT]"
I think I keep getting this message when the server auto-restarts:
[code]
Not sure why.

[2015-01-02 14:55] #196 closed

[2015-01-07 21:59] ereznik commented on #116
Any update on restoration of the data?

[2015-01-07 22:15] tatarsky commented on #116
While I am not directly involved in the process, for the past several days I have been watching rsyncs back from the CBIO units the data was moved to. I believe the data is being placed in a staging area for validation before being returned to its original path. But again, I'm not handling that part. So I'm commenting so you know this part and perhaps those doing the transfer can elaborate.

[2015-01-07 22:30] jchodera commented on #116
@ratsch ?

[2015-01-08 00:58] tatarsky commented on #172
Adaptive provided another patch this evening. Deployed while I saw low queue activity.

[2015-01-08 16:25] tatarsky commented on #201
BTW I have run the "clean" recommended to remove some orphaned job spool files during the patch of the pbs_server last night. Can you please let me know if you continue to get these?

[2015-01-08 18:11] jchodera commented on #201
Closing, presuming this fixed it. Will reopen if I get another PBS email.

Thanks!

[2015-01-08 18:11] #201 closed

[2015-01-09 13:00] tatarsky commented on #172
No crash yet but am not clear if the conditions for crashing were attempted.

[2015-01-09 19:08] ratsch commented on #116
The data is currently restored to
	/cbio/shared/overflow
About 75% of the data is back.
Once the transfer is complete, we will reintegrate
it into the main tree.

If you find data there, feel free to use it after checking the files are complete.
Please note, however, that the file location is temporary.

[2015-01-11 14:36] rgejman opened #202 "Interactive Job Rejections"
Over the past few days, several of my large memory (36-48GB) interactive jobs have been "rejected" after several hours of waiting for a node to free up sufficient memory to run my job.
```qsub -I -q active -l mem=48gb -l walltime=48:00:00 -l nodes=1:ppn=1```
[code]
It looks like there is a timeout on interactive jobs. Is this correct? If so, is there any way to disable it on a per-job basis?

[2015-01-11 15:06] jchodera commented on #202
Hopefully @tatarsky can look into this on Mon!

@rgejman : Are these long waiting times becoming a hinderance?  I've wondered if we needed to dedicate a node to interactive jobs.

[2015-01-11 22:12] rgejman commented on #202
In the past week it's been harder to get large memory jobs. Usually it's not a problem. I remember that at some point the queueing algorithm was changed to prioritize filling a node instead of evenly distributing load across all nodes. Is that still the case?

[2015-01-12 14:31] tatarsky commented on #202
Hmm. I don't see any such concept defined (job start timeout) or defaulting to some value. But I'll look around some more/open a ticket. "rejected" seems a curious word in that situation. logs are not overly enlightening at the moment.

As to the second part, the queuing algorithm you are thinking of may be what I'm looking at in #102 which is on the list for "changes" to start attempting one at a

[2015-01-12 14:36] tatarsky commented on #102
I will be attempting this change today and will document the time I change it. The priority formula will attempt to do what @akahles describes but may take some tests to determine if I understand such formulas correctly.

Previous config will be saved.

[2015-01-12 16:01] tatarsky commented on #102
At 11:00AM EST I moved to using the old PRIORITY formula with an __attempt__ at the matlab resource control. As I have never attempted these priorities, I expect some tuning/additional work.

[2015-01-12 16:04] tatarsky commented on #186
The incidence of these is being looked at again as I see no compelling reason these are filesystem related. There are periodic bursts however. I am looking at the code closer that surrounds this error message.

[2015-01-12 16:06] tatarsky commented on #172
Continued non-crash...but known that attempts to reproduce have not occurred. Slightly optimistic however as we used to have other cases of it.

[2015-01-12 17:40] KjongLehmann commented on #172
Was traveling. Attempting now, but due to load it may take a while.

On Jan 12, 2015, at 11:06 AM, tatarsky <notifications@github.com> wrote:

[2015-01-12 18:04] tatarsky commented on #172
Wonderful! Hope you had a nice time and advise if you need a fairshare adjustment to get this at least crashed or dare I hope resolved ;)

[2015-01-12 19:05] KjongLehmann commented on #172
I keep an eye on it. Lets see how it goes.

On Jan 12, 2015, at 1:04 PM, tatarsky <notifications@github.com> wrote:

[2015-01-12 21:02] tatarsky commented on #172
I show a recent core....15:49:59

[2015-01-12 22:58] KjongLehmann commented on #172
Hum. Have to admit that I did not reach the trigger yet but I seem to have successfully made it unstable I guess?

[2015-01-13 14:22] tatarsky commented on #172
Hard to say at this point, but a crash is a crash. Providing information to Adaptive.

[2015-01-13 14:26] tatarsky commented on #102
I am trying to later today add some metrics which might assist at determining over time node allocation levels to work on the formula. While my "at a moment in time" checks show at least its not alphabetical in allocation now, I think we need a more "30000 foot" view of the process via Ganglia.

[2015-01-13 14:31] jchodera commented on #102
+1!

[2015-01-14 00:07] tatarsky commented on #202
Vendor bug report 21713 was entered after failing to find any solid reason. Seeing if they have any ideas.

[2015-01-14 00:09] tatarsky commented on #102
This metric was added and a shortcut to it will be added shortly. I'm leaving this open to discuss things related to this process of tuning the formula.

[2015-01-15 14:13] tatarsky commented on #202
OK took a bit but the working theory is as follows from Adaptive and I wish I had more compelling data from the logs but I do not.

It is believed from that set of circumstances and the fact it lists "root" as the agent that Moab cancelled the job.

The default Moab setting item that is suspected involves that if an interactive job in the queue gets marked with a hold, Moab by default cancels the

[2015-01-15 14:19] tatarsky commented on #172
Adaptive feels this last crash was not related to this item. They are not sure what the last crash was at this time but are investigating it.

They believe currently they fixed your issue in this Git commit which is running on our pbs_server and from the conversation I'm inclined currently to believe them.

 TRQ-2987. Fix a crash around job cleanup.

When remove_job() was being called we were chec

[2015-01-15 14:23] tatarsky commented on #108
This is believed as complete as is possible under the current group methods.

[2015-01-15 14:23] #108 closed

[2015-01-15 14:27] tatarsky commented on #102
Currently this git issue is implemented as stated.

Further discussions of alteration of the priority formula can occur but I'd like to close this and track those separately. As I'm commenting the moab.cfg changes per Git issue and I'd like some different Git numbers if I alter the formula. Sorry if thats a bit obsessive but I am trying to very closely tie changes in config to requests.

[2015-01-15 14:27] #102 closed

[2015-01-15 14:29] tatarsky commented on #193
Looking at this again for "change of the week"

[2015-01-15 14:47] KjongLehmann commented on #172
Sounds great. Lets see whether that assumption is true. I am not completely convinced since Q ran stable until I came back from my trip and started the process of crashing it (pushed many array jobs into the Q). It may just be crashing earlier now. For now lets leave it alone and I report back if I can crash it again when the load went down a bit.

On Jan 15, 2015, at 9:19 AM, tatarsky <notificati

[2015-01-15 14:49] tatarsky commented on #172
Yep! Concur 100% and yes, its fully booked out there. In a perfect world we'd have a small test environment to test "just your item" but we do not. Bottom line, I'm tracking git changes related to our tickets. And they seem very responsive to the process so if we can gain more insight, we provide and move forward.

[2015-01-15 14:56] tatarsky commented on #172
Noting for easier reference:
Current patch level of pbs_server was applied at Jan  7 19:46
crash jan 12 14:50
crash jan 13 06:35
cores/backtrace provided. viewed as same cause.

[2015-01-15 17:52] vipints opened #203 "requested active resources are not using effectively"
I was noticing this for the last couple of days, many users left their interactive session idle for long time. I can imagine during the late night the job status may go idle but at least during the day time the interactive session shouldn't be idle especially with high resource `>20GB`. Here is one example such session:

`2768845  mevlanagemi active   STDIN              52541      1   50gb  72:00:

[2015-01-15 22:26] jchodera opened #204 "Long-running GPU jobs taking up nearly all GPUs?"
User @corcra is using 100 GPUs right now, and some of these jobs are very long-running (up to ~48 hours) meaning that none of our GPU jobs will start for about 20 hours.  Is there any way you could throttle back on this a bit and limit your GPU usage to ~40 GPUs so my group can do some work?

If these are array jobs, you can limit how many jobs are running at once via the `%` construction, e.g.:
[

[2015-01-15 22:39] corcra commented on #204
Terribly sorry! I have reduced the currently-running jobs down to 42, is that OK?

[2015-01-15 22:42] jchodera commented on #204
Perfect!  Thanks.

[2015-01-15 22:42] #204 closed

[2015-01-16 17:24] jchodera commented on #203
For `bash`, we can probably have @tatarsky code up a pre-launch script that sets the autologout time to one hour using the `TMOUT` environment variable.  For `tcsh`, this is `autologout`.

Users can always disable this themselves, of course, but it may free up more resources when forgetful users just walk away from their terminals.

[2015-01-16 17:47] vipints commented on #203
@jchodera thanks for the comments! I think that will be useful.

[2015-01-19 13:14] tatarsky commented on #203
Do you want a shell timeout set by the system for all shells or just ones exec'd by Torque?
Subtle but important question. My suggestion to start is to only set a shell timeout if PBS_INTERACTIVE is also set in the shell.

[2015-01-19 15:26] vipints commented on #203
I prefer to have timeout for PBS_INTERACTIVE shell.

[2015-01-19 15:50] tatarsky commented on #203
OK. Well, if I need to announce more than this later today I will update the system level profile.d script to include if PBS_INTERACTIVE is set to make TMOUT=3600 and the appropriate csh/tcsh equiv.

Again, only if PBS_INTERACTIVE is set. I will probably test with a very large value first to make sure its only set in that case.

[2015-01-19 16:21] ratsch commented on #203
Will this timeout mean that my shell terminates when I'm not actively working on the keyboard?
Then this isn't good for all occasions. Let's say I start something interactively, then get disrupted
for 2 hours because of a meeting, and then the shell is gone...

[2015-01-19 17:24] danielparton commented on #200
Looks like there is a problem with this job filter when using the `procs` option. The following Torque options return an error.

[code]

[code]

It works ok if I submit as an interactive job on the active queue:

`-I -l procs=60,gpus=1:shared -q active`

The following options also work, but this requests 4 GPUs per node - I just want to select 60 GPUs without specifying the number of GPUs per node

[2015-01-19 17:41] vipints commented on #203
okay, then can we consider a check of the resource required by the PBS_INTERACTIVE shell before timeout. If the shell is allocated only a small amount (let's say < 10GB) of resource, then keep active otherwise timeout. @ratsch do you agree on this? @tatarsky I am not sure how to get it done.

[2015-01-19 17:42] tatarsky commented on #203
That would indeed be a counter argument. I will wait for you folks to decide/discuss.

[2015-01-19 17:42] vipints commented on #203
Sure.

[2015-01-19 17:43] tatarsky commented on #200
Investigating.

[2015-01-19 17:49] tatarsky commented on #200
OK, so basically its not parsing the extra request to share the gpu.
For the moment that is an extra set of edits on this job filter which has no such stanza.
So I've removed it for now until I can test again with that item added.

[2015-01-19 17:49] akahles commented on #203
I would agree with @ratsch and say that it is sometimes hard to tell, if a resource is used "appropriately" . To limit the ability of clogging the cluster with interactive jobs there are already two measures in place: a limit of max 5 jobs per user and a max walltime of 72:00:00 hours. Just as a contrast, if I ask for a batch job with very poor memory utilization but block a whole node for this (e

[2015-01-19 17:52] tatarsky commented on #203
My generic opinion having seen this a few places is this is best solved with user training and during periods of high usage a periodic reminder to "check for wasted qlogin resources". It is difficult to automate the "policing" of what you seek for all cases.

[2015-01-19 17:54] vipints commented on #203
I agree, essentially this is just a user bound problem. If all can use their active sessions -in particular, the large resource allocated- nicely, I don't have any issue.

[2015-01-19 17:56] rgejman commented on #203
I often use large memory interactive jobs (48-72GB) in order to load and analyze data in R. I try to be conscientious of this and close my sessions when I am done. However, since these sessions can be difficult to open in the first place, I frequently keep them open overnight and during the day when I am waiting for other jobs to finish. For instance, right now I have 2x72GB shells open, 1 of whic

[2015-01-19 18:20] tatarsky commented on #203
I have some additional ganglia metrics which I'm gathering per node which may help spot problems over time.

[2015-01-19 18:28] danielparton commented on #200
Sounds good, thanks

On Mon, Jan 19, 2015 at 12:49 PM, tatarsky <notifications@github.com> wrote:

[2015-01-19 18:44] jchodera commented on #203
Thanks! My thought is that it would be great to only set autologout if the
job is interactive via torque and has requested more than 1/32 of some
resource of the machine. I understand Gunnar's concern, but given limited
resources shared among everyone, we want to reclaim resources if someone
has been distracted by a meeting or something like sleep...

[2015-01-19 19:37] jchodera commented on #203
Also, @raetsch, note that you can always unset the autologout environment
variable yourself if you know you are going to be away for a couple of
hours. So this would really only impact users who carelessly consume
resources while idle without intending to.

[2015-01-19 20:56] ratsch commented on #203
I somewhat agree that this is a possible solution.
The nature of the disruption though is that there isn't time to enter the command at that moment.
Hence, I'd also have it switched off for me (i.e., make it the default).

A specific other solution is to increase the fairshare cost of interactive jobs, in combination
with regular reminders to the users that have the largest jobs.
This way we penal

[2015-01-19 21:00] tatarsky commented on #203
I'm re-opening this as its a good discussion. Let me look at the fairshare concept...

[2015-01-19 21:02] tatarsky commented on #192
I'm making a slightly more friendly version of this that tracks the age of the orphans in another manner per node. We can decide if we auto-delete or not due to age once I finish.

[2015-01-19 21:37] ratsch commented on #192
great!

[2015-01-20 17:42] vipints commented on #173
I have got the same error message two days back with job id `2774387`.  In my case the 'o' file appeared in the specified destination and I think there is no error from the program.

[2015-01-20 17:59] tatarsky commented on #173
Noted and tracked still via #186. No update on my debug at the moment working on a few other items.

[2015-01-20 18:03] vipints commented on #173
Thanks @tatarsky! Just noted down, as I was in the process of investigating the cause of death many of my jobs in the last days.

[2015-01-20 18:27] tatarsky commented on #173
Cool by me. Just keep an eye on #186 when I get any insight into this error/warning/whatever it really is.

[2015-01-22 19:55] jchodera opened #205 "Trying to figure out why some Torque/Moab jobs died this morning"
User `vkuryavyi` had some Torque/Moab jobs die this morning.  This is the only info I have:
[code]
I don't believe the Torque logs are publicly accessible, or else I'd grep through to figure out what Job IDs from `vkuryavyi` died in this interval and then try to figure out why.  Perhaps @tatarsky can check when he has a moment?

[2015-01-22 20:00] tatarsky commented on #205
Torque logs are rsync'd every 15 minutes to:
[code]
On mskcc-ln1. I should make Moab logs also replicated for debug help. I will attempt to look but am stacked up a bit.

[2015-01-22 20:02] jchodera commented on #205
Thanks!  I can look---hold off for now.

[2015-01-22 20:08] tatarsky commented on #205
I figured out one item involving email entries with his name saying "not wanted".
My script to update aliases stopped working due to a typo. Fixed.

[2015-01-22 20:25] jchodera commented on #205
No jobs seem to.have been killed though. All terminated successfully, right?

[2015-01-22 20:26] tatarsky commented on #205
I took only a very quick look, but thats sure what it looked like to me.

[2015-01-22 20:30] tatarsky commented on #205
I am scanning "showjobs -u vkuryavy" for anything out of place looking. A bit more detail in the report of course would be useful.

[2015-01-22 20:32] tatarsky commented on #205
If correct, all these jobs are also not logging error files or output files.
[code]

[2015-01-22 20:34] tatarsky commented on #203
In looking at something else I am reminded that "showjobs" provides this stat for completed jobs. Perhaps some kind of accounting script can be cobbled up to provide feedback on the ratio of requested resources per user to actual.
[code]

[2015-01-22 20:41] tatarsky commented on #203
I'll take this on BTW. I think the data would be valuable and would be faster from the frontend....

[2015-01-22 21:14] jchodera commented on #205
I think that's correct.  They are schrodinger jobs launched from a workstation.

[2015-01-22 22:25] jchodera commented on #203
Sounds like it would be great to both collect this data and to run this and show the output to users after interactive sessions are completed.

[2015-01-22 23:11] jchodera commented on #205
I've looked through this some more, and as far as I can tell, there are no cluster issues.  Closing.

[2015-01-22 23:11] #205 closed

[2015-01-23 16:32] tatarsky commented on #202
Has this been seen again? (friday review....)

[2015-01-23 16:48] rgejman commented on #202
Not for me.

[2015-01-23 17:24] tatarsky commented on #202
OK, so I've commented the moab.conf referencing this git matter. If it comes back I will reopen and investigate further.
[code]

[2015-01-23 17:24] #202 closed

[2015-01-27 15:55] jchodera opened #206 "Help us with a little "snow day" cleaning!"
We're still running low on disk space on `hal` during a (hopefully short term) storage crunch.  If we can free up even just a few TB of space, this would help us immensely as we continue to clean up following the Dellpocalypse.

If you have inessential files or data you can migrate off the high-performance GPFS storage, we'd very much appreciate it!  We were down to 12TB this morning, so every TB

[2015-01-27 23:09] tatarsky opened #207 "Minor item: should SDSC COLO ticket be "closed""
The communication with SDSC consists of an open ticket which is updated with new matters.

I am aware of no issues or items that involve SDSC.
And I assume the support contract with them is now over.

Should I close the ticket just for completeness?

[2015-01-28 13:23] tatarsky commented on #207
Wrong issue location ;) Sorry.

[2015-01-28 13:23] #207 closed

[2015-01-28 14:34] tatarsky commented on #203
So some initial attempts show its really all queues in which memory requested far exceeds memory used. I'm validating my script but basically I view this as "advisory" data in the end that could help optimize both the defaults for the queue and the users scripts when combined perhaps with queued jobs.

A not yet fully validated "total" (I also gather per user and per queue) for the month so far in

[2015-01-28 16:37] jchodera commented on #203
I think it would be helpful to:
* automatically set `autologout` for interactive jobs that request more than 1 thread or 8gb mem, but remind users they can unset this if desired
* print a summary of total resources requested and used after interactive sessions, which might help modify user behavior

[2015-01-28 18:23] tatarsky opened #208 "Patching security flaw in glibc (CVE-2015-0235)"
This is viewed as important to patch soon.

https://www.us-cert.gov/ncas/current-activity/2015/01/27/Linux-Ghost-Remote-Code-Execution-Vulnerability

I will be deploying it to mskcc-ln1 shortly as that unit is exposed but to all nodes shortly afterwards.

[2015-01-28 18:27] tatarsky commented on #208
frontend was patched a moment ago due to its exposure.  per ongoing efforts to rule out Torque crashes I also restarted the pbs_server to make sure our debugging shared libraries were known.

[2015-01-28 19:15] tatarsky commented on #208
mskcc-ln1 (hal) was updated a moment ago as it is also more exposed via more applications that resolve names on a regular basis. I will see if the list of applications with more concerns can be restarted. Nodes and backends to follow.

[2015-01-29 14:37] tatarsky commented on #116
We believe the data rsync is complete but validation needs to be done before it is moved back into place. I am placing this here just to note that status I was told yesterday.

[2015-01-29 14:43] #206 closed

[2015-01-30 15:29] tatarsky commented on #208
Done

[2015-01-30 15:29] #208 closed

[2015-02-02 12:46] tatarsky opened #209 "URGENT disk filling problem"
In the past few hours the rate of filling the GPFS volume has accelerated severely. We are down to 4TB in free failure group space. (Divide df avail for /cbio in half for the actual free space with a replication count default of 2)

While I try to determine the job or user doing this I have changed the default replication count to 1 and am looking for sudden recent directory changes.

Please assis

[2015-02-02 12:49] tatarsky commented on #209
![graph](https://cloud.githubusercontent.com/assets/6439722/6000769/adce1f36-aaa7-11e4-9a25-c8e97c9b443d.png)

[2015-02-02 12:50] tatarsky commented on #209
![graph](https://cloud.githubusercontent.com/assets/6439722/6000776/c03e1dec-aaa7-11e4-83ff-d8f7969082a4.png)

[2015-02-02 12:50] tatarsky commented on #209
Picture says it all.

[2015-02-02 14:34] kuod commented on #209
Sorry!! I was re-running some analyses and saving a bit too much in my output files. Should be able to free up 40T soon.

[2015-02-02 14:47] tatarsky commented on #209
OK. I've managed to triage this for a bit to 20TB free and am restoring default replication count to 2.

[2015-02-02 14:53] ratsch commented on #209
I have also cleaned up 20TB of temporary space related to archives.

[2015-02-02 15:07] jchodera commented on #209
Thanks, guys!

[2015-02-02 15:10] tatarsky commented on #209
Yep! Thanks everybody. This concludes the morning fire drill ;) Back to trying to get out of my driveway (our turn for some snow)

[2015-02-02 15:10] #209 closed

[2015-02-04 13:00] tatarsky commented on #203
Looking into the above.

[2015-02-04 13:02] tatarsky commented on #172
The delay on this is a set of additional behind the scenes efforts with Adaptive. The primary developer believes we have fixed the one item but discovered a new item. We completed another round of it following the glibc update yesterday.

But the key for this Git issue is did the fix actually handle the item @KjongLehmann was having...I do not want to close it if it did not.

[2015-02-04 13:03] tatarsky commented on #136
Status check as I am dealing with HDF5 elsewhere and had a mini-refresher on it ;) No rush if it remains in the todo pile.

[2015-02-05 17:01] kuod commented on #201
I received this warning last night.
[code]
Also puzzled about the error as it had been running as expected.

[2015-02-05 17:19] tatarsky commented on #201
Noted and checking the spool. We are still debugging an open item with Adaptive.

[2015-02-05 22:04] kuod commented on #201
Thanks!

FYI, recently received another email at February 5, 2015 4:56:51 PM EST

[2015-02-06 19:33] KjongLehmann commented on #172
So, I restarted running some bigger batches of jobs again and there is a curious observation here. I just submitted a set of 10 array jobs (500 slots each) to the cluster. Interestingly, the total count of jobs does not add up to 5K. Doing a more detailed check, half of the array jobs are missing a considerable number of slots in the scheduler. I do believe this is related to the old issue and thu

[2015-02-09 17:56] rj67 commented on #116
Just wondering if there is any update on the status of the restoration process. Seems to me most of the cancer exomes in the shared_bam folder are back in place, except for OV and UCEC. I am wondering if those files are yet to be restored or permanently lost due to disk failure.

[2015-02-09 18:08] tatarsky commented on #116
No data I know of was ever permanently lost due to replication. I am of the impression @ratsch continues to rsync another collection of items from another location. I see directories with the names "OV" and "UCEC" in the area I am monitoring but I will defer to him on the state of the rsync.

[2015-02-09 18:22] rj67 commented on #116
Thanks for the clarification. The cancer exome files are in the "WXS" directory under each cancer study. The "OV" and "UCEC" studies currently don't have the "WXS" directory.

[2015-02-09 18:25] tatarsky commented on #116
I assume because the rsync is not done. And since I am not doing the rsync, we'll have to see if an update is provided.

[2015-02-09 20:28] ratsch commented on #116
The data is currently being transferred to the directory /cbio/shared/overflow/plfah2.
They repeated stalled and this leads to a delay in their transfer back to the system.
There are about 55TB that are still on that system (space graciously provided by the chodera lab)
and it will likely take another week to get the data back.

[2015-02-09 23:49] rj67 commented on #116
Thanks for the update

[2015-02-11 16:07] akahles opened #210 "Problems connecting from hal to external host"
I have intermittent problems to connect to cghub at ucsc. Normally it works again when I try after a while but I have to do many such queries/connections and would like to understand why it does not work. The latest error I got is:
[code]
Is it easy to find out if the problem lies on our side or should I directly contact the folks at ucsc?

[2015-02-11 16:21] tatarsky commented on #210
Its never easy to debug where a problem lies in a multihop path across the country.

I don't show any current issues but as you note, its sporadic.

I'll see if I can ask them to add us as a Smokeping site to determine if there are path issues or I will deploy smokeping myself. This however doesn't debug which of the several hops are at fault but gives us a view of the overall reliability.

[2015-02-11 16:24] tatarsky commented on #210
Also the above assumes its a network issue. Not an application issue. For that if the network path graphing is routinely clean, you would have to contact them with times/dates for further debug.

[2015-02-11 16:36] akahles commented on #210
Ok, thanks for the info. I'll just keep on restarting once it hangs up for now. Will post here if the frequency of errors increases.

Regarding the application issue - I have observed this with different tools that work with the cghub host (gtdownload, gtupload, cgquery) all throwing error messages at different points or just getting stuck. However, this is only intermittently and usually works if

[2015-02-11 16:40] tatarsky commented on #210
You can open a support ticket with them and cc me. But "try again" is a common theme of the outcome from multiple such tickets. The longer or more congested the path the more the above is true.

[2015-02-12 15:05] tatarsky opened #211 "RVM to a module config"
We noted in our start of a project to migrate to puppet that the Ruby Virtual machine is rather unique in that it has been made a system default outside of the module system.

I have a little history on this from #45 but would like to review the users and config of this so we can have it be a module going forward.

This is not a high priority. But I am mentioning it so I do not forget in a sea of

[2015-02-12 20:54] KjongLehmann commented on #172
Well we have been over this but maybe the following helps. I just submitted by accident more jobs than I am supposed to (>5K). Surprisingly I was able to do that without getting a reject from the scheduler.

[2015-02-12 21:03] tatarsky commented on #172
I've noted your recent comments but have been swamped with other matters. I will return to this shortly.

[2015-02-12 21:29] KjongLehmann commented on #172
No pressure. This is not a new item and I can work around it. Just providing additional information while I am noticing it.

On Feb 12, 2015, at 4:03 PM, tatarsky <notifications@github.com> wrote:

[2015-02-12 21:34] tatarsky commented on #172
Grin. Just didn't want you to think my silence was permanent.

[2015-02-13 00:31] rgejman commented on #211
I am out of the country for 2 weeks and can't address this in detail. Basically it's ok with me as long as I can use rvm/gems. If you can wait 2-2.5 weeks then I can address it in detail. Thanks!

[2015-02-13 00:44] tatarsky commented on #211
I am more than happy to wait until you return to address this at any level you would like!

[2015-02-13 19:06] bas-rustenburg opened #212 "Install zsh?"
Is it possible to install zsh on the cluster?

Related: could my default shell (username: rustenburg) be changed to zsh?

[2015-02-13 19:08] tatarsky commented on #212
Yes. However am closing and deleting this as it contains your username which we try to avoid. I will email you when done.

[2015-02-13 19:08] #212 closed

[2015-02-16 16:27] tatarsky commented on #210
I did not see any response to your email ticket to them but be aware Smokeping was added bi-directionally. CGHUB monitors us and we monitor them. Smokeping is useful for transient latency or packet loss debugging over time. It is low impact.

That assumes the issue is somehow related to the above. A tool should be able to handle such issues without hanging as you note.

If there are other common s

[2015-02-16 16:34] akahles commented on #210
Thanks for adding the link @tatarsky. My ticket had been replied to but I just realized that they did not include you in the reply. Long story short - I should retry once or twice. I will follow up on the ticket again as a subset of my uploads ended up in an incomplete state on their side.

[2015-02-16 16:36] tatarsky commented on #210
OK. At the moment the link appears "clean". Long, but clean. If you note times/dates of issues going forward you can compare to the graph to rule in/out network interference. Bearing in mind I feel a tool that uses the network should be able to handle latency and packet loss via internal means.

[2015-02-16 17:39] vipints commented on #168
@tatarsky one request: can you please compile the `/opt/torque/lib/libdrmaa.so` library to the cluster nodes. As you remember, we compiled only to the login node. I am doing some experiments, in which I would like to submit some child jobs from a compute node.

[2015-02-16 18:49] tatarsky commented on #168
Sure. I think all I need to do is copy it however. I've done that to gpu-1-4. Can you manually hop over there and make sure nothing else was needed?

[2015-02-16 19:03] vipints commented on #168
Test runs are successful! Thank you.

[2015-02-16 19:04] tatarsky commented on #168
I will push to all nodes in a minute...

[2015-02-16 19:16] tatarsky commented on #168
Should be done on all...advise if issues.

[2015-02-16 19:20] vipints commented on #168
python drmaa loads in all nodes, works fine to me! Thanks @tatarsky.

[2015-02-16 19:21] tatarsky commented on #168
no prob

[2015-02-17 15:22] tatarsky opened #213 "Adding two compute nodes and validation of them"
Shortly two compute systems will be added. They are however currently being used to run some items for a group.

You will however see some reference to them in the node list. They are cpu-6-1 and cpu-6-2. They are currently marked as down on purpose.

However, before I add these nodes I will ask that folks manually run some jobs there to validate that the software is correct on them.

I will annou

[2015-02-17 20:14] vipints commented on #203
I am still seeing such unused sessions in active queue mode and believe that the user is not aware of the discussion. Mailed him the details.

[2015-02-17 20:17] tatarsky commented on #203
If you confirm with @ratsch I can also up the timing on #213

[2015-02-17 20:17] tatarsky commented on #203
But I may ask you to manually test code on the box first to prevent "node eats jobs"

[2015-02-17 20:26] vipints commented on #203
Sure. Will check with @ratsch later this week.

[2015-02-17 20:31] tatarsky commented on #203
And I believe I can conditionally set autologout/TMOUT based on the queue and slots (ppn). Getting the conditions of the memory requested without more hoops is probably doable but not a two liner in the pbs_maui.(sh|csh). The shell variables PBS_ENVIRONMENT and PBS_NUM_PPN I believe provide that quick conditional check.

[2015-02-18 12:32] jchodera commented on #203
I still support the conditional setting of `autologout` if we can figure this out!  We'll just have to announce and document this when it becomes live.

[2015-02-18 14:00] tatarsky opened #214 "IMPORTANT GPFS space reducing faster than normal"
Overnight the free space has dropped 20TB to roughly 20TB left. Please check your jobs and clean up. I have not located the location this is being done yet.

[2015-02-18 14:35] ereznik commented on #116
It seems like the UCEC and OV WXS files are back, but the permissions on the OV data are under the "raetsch" group. Any chance someone could kindly modify the permissions to readable for the TCGA group?

[2015-02-18 14:37] tatarsky commented on #116
@ratsch confirm you are indeed done and ready for that mod and I can get it.

[2015-02-18 14:43] tatarsky commented on #214
I have located a location involved and unreplicated it. I am cancelling this warning.

[2015-02-18 14:43] #214 closed

[2015-02-18 14:48] tatarsky commented on #210
I am closing this for now with a link to the Smokeping graphs. I don't see signs of issues with dropped packets and latency beyond the fact we are certainly not as close as we were when in SDSC.

http://hal.cbio.mskcc.org/smokeping.cgi?target=CGHUB

I am happy to add other common download targets to the Smokeping checks. I find it a very useful debugger of problems that are a result of poor connec

[2015-02-18 14:48] #210 closed

[2015-02-18 14:51] tatarsky commented on #203
I can do the "slots and queue" based setting anytime. I'm still trying to locate a quick way to determine from the shell exec'd "did this job request more than 8GB of memory" in a quick manner.

I believe it boils down to using qstat -f on $PBS_JOBID and parsing its output for "Resource_List.mem"

[2015-02-18 15:55] tatarsky commented on #203
This is my draft shell (bash/sh) fragment to implement this.

[code]

It can be tested manually by "sourcing" it following a qsub -I -q active -l (whatever).

I will do so a bit more and then we can make a csh/tcsh version of the same and decide whether to implement.

I am now looking at a conditional epilog output of the qstat -f job variables that track used resources. It would only output on ac

[2015-02-18 16:00] jchodera commented on #203
Awesome!

[2015-02-18 16:00] tatarsky commented on #203
Sample output with the TMOUT reduced to 60 seconds and manually sourced (would become part of a profile.d script in the end)
[code]

[2015-02-18 16:00] tatarsky commented on #203
Like that grep? Thats some weird stuff in that one.

[2015-02-18 16:02] tatarsky commented on #203
And again, to stress, there is nothing here that "unset TMOUT" won't end...

[2015-02-18 16:07] tatarsky commented on #203
Note to self. We may want to leave in the stdout messages about TMOUT being set with perhaps more descriptive text.

[2015-02-18 16:45] tatarsky commented on #203
So I believe I can use a form of the same type of items in the epilog script for a node. Basic version not in actual use and probably needing a bit more "presentation" but in theory this could be constrained to only output if $PBS_QUEUE=active.

[code]

So I believe all items considered here are doable. Just a question of confirming they should be done.

[2015-02-18 19:09] ratsch commented on #210
I actually agree and think that it is not a reasonable *solution* to try upload multiple times.
It might be useful to followup on that ticket and ask for a *solution* and not a *workaround*.

[2015-02-18 19:20] akahles commented on #210
I followed up on the ticket with the cghub side and it boils down that this seems to be a known problem which is likely not to be fixed until cghub will be discontinued in 2016.

[2015-02-18 19:45] tatarsky commented on #192
@vipints has reminded me via another conversation that ipcs has a detail mode that includes a "change time" which could be parsed to determine the age of the shared segment when combined with nattch=0

``
ipcs -m -i 1081344

Shared memory Segment shmid=1081344
uid=1153        gid=3007        cuid=1153       cgid=3007
mode=0666       access_perms=0666
bytes=26280846609       lpid=0  cpid=19847

[2015-02-18 20:05] vipints commented on #192
A week should be a very reasonable time frame and after that release this segment.

[2015-02-18 20:14] tatarsky commented on #192
Yeah, I'm putting in a case where if the byte count is high it may take another path...

[2015-02-18 20:40] tatarsky commented on #210
Huh.

[2015-02-18 20:57] tatarsky commented on #116
Corrected permission per conversation in email. Advise if you need further changes!

[2015-02-18 23:03] ratsch commented on #210
Hm… !

[2015-02-18 23:05] ratsch commented on #203
Great work so far!

[2015-02-18 23:30] akahles commented on #210
Let's discuss this in an e-mail offline. In fact the support from ucsc was very helpful and quick and I got all my tasks resolved by now. It is just that there are some particular known issues that might not be worked on very soon / or maybe never, but I think I can work around this from my side.

[2015-02-19 00:15] ratsch commented on #210
Thanks. I agree, cgHub folks have always been very helpful..

[2015-02-19 14:18] tatarsky commented on #203
OK. I'm going to pretty up the epilog resource item. Perhaps we open with that concept to get people aware of their usage of the active queue and use the TMOUT concept if that doesn't help.

[2015-02-23 15:34] KjongLehmann opened #215 "Inconsistencies between Torque and Moab"
Hi,
it may be related to the other bugs but I am not sure. Feel free to merge it. I do have jobs listed as UserHold in showq, but qstat shows these jobs as queued. I had put these jobs into hold yesterday and released them in the evening. Something must have gone wrong during the process on the scheduler side.

[2015-02-23 15:48] tatarsky commented on #215
I show you are being held for fairshare reasons on some of them. Which is why Moab lists it that way.
[code]
If you want to compare notes on a particular job id let me know. I did a random sample.

[code]

[code]

[2015-02-23 15:54] KjongLehmann commented on #215
Not sure I understand? The scheduler is empty?

On Feb 23, 2015, at 10:48 AM, tatarsky <notifications@github.com> wrote:

[2015-02-23 15:56] tatarsky commented on #215
Your account is marked with a fairshare hold. Until that decays the way I was told it was configured is you wait. Empty or not. You've exceeded the fairshare percent for your account.

I'm happy to bump it, but its doing what it was told to do.

[2015-02-23 15:58] tatarsky commented on #215
So to verify that, I bumped you to 70%. Lets see what occurs...

[2015-02-23 16:03] tatarsky commented on #215
Maybe not. checkjob seems to feel the job is held. I'm releasing the holds and scanning the logs for these ones.

[2015-02-23 16:04] tatarsky commented on #215
How did you "release them"?

[2015-02-23 16:06] KjongLehmann commented on #215
Piping jobids to be released into xargs qrls. Yesterday I just deleted some of them and resubmitted and things were running without problems. I think somewhere the scheduler choked on it.

[2015-02-23 16:08] tatarsky commented on #215
OK. I think thats possible but I'll have to review. I use Moab commands ( mjobctl -u) to release jobs but I'll look around and see what I can see.

The scheduler might have declined to release them from the userhold state due to fairshare.

[2015-02-23 16:56] KjongLehmann commented on #215
If that is more stable I can switch over to using Moab commands for things like this.

I still think it makes not much sense to have jobs stuck in hold due to fairshare, particularly in situations where the cluster is actually empty.

[2015-02-23 16:59] KjongLehmann commented on #215
If it is no trouble, could you please reset the earlier bump. More people are submitting jobs now…. As always, thank you for your help!!

[2015-02-23 17:04] tatarsky commented on #215
Don't have any opinion yet if it was "bug or feature" so continue doing what you were doing while I enquire based on log data. Reset fairshare ;)

[2015-02-23 17:05] tatarsky commented on #215
And I don't disagree on fairshare comment. And will verify what I believe is true is true.

[2015-02-23 17:06] KjongLehmann commented on #215
Awesome! Thanks for the help.

On Feb 23, 2015, at 12:05 PM, tatarsky <notifications@github.com> wrote:

[2015-02-23 17:26] tatarsky commented on #192
At present, I propose high memory shared memory (1GB or more) older than a day gets an email to the user and a delete. Due to its impact on other jobs. Usually these represent a bug in the job script not cleaning up after itself.

Smaller "leftover" shared segments get silently deleted if older than a week. No email. Just deleted.

All the above subject to nattch = 0 meaning no other process is at

[2015-02-23 17:49] jchodera commented on #192
Sounds good to me!

[2015-02-23 17:52] jchodera commented on #215
fairshare, particularly in situations where the cluster is actually empty

I totally agree with this, though I think we did want to leave in place one
limit that prevents a single user or group from taking more than 80% of the
cluster at any one time, but I think that issue is unrelated.

[2015-02-23 19:44] KjongLehmann commented on #215
I would like to point out that this may cause many unwanted side effects like increasing overall execution time of all jobs.

On Feb 23, 2015, at 12:52 PM, John Chodera <notifications@github.com> wrote:

[2015-02-23 19:48] jchodera commented on #215
Limiting the total number of nodes running at one time by a given user? The
goal is to balance maximum utilization with rapid and fair response to all
users. If we had more nodes, this would be less of am issue because jobs
turn over all the time. But we want to avoid the case where long running
jobs clog up all nodes for hours or days before jobs from any other user
can run.
On Feb 23, 2015 2:44

[2015-02-23 20:15] KjongLehmann commented on #215
Maybe it could be more in the sense of a single user only being able to submit 80% long running jobs but can still utilize resources with short ones? My concern is that such a hard cut-off will reduce progress in low compute times and thus potentially carry over into high compute times.

On Feb 23, 2015, at 2:48 PM, John Chodera <notifications@github.com> wrote:

[2015-02-23 20:36] jchodera commented on #215
I like that idea!

Other possibilities exist.  If we could resume jobs successfully, that
would be another possibility.

[2015-02-23 21:17] tatarsky commented on #203
OK, first of the epilog script will output what it is handed already to stderr if the queue=active.

It gets these shell vars passed to it:
[code]

We can pretty it up but confirming stderr output makes sense. I don't want to introduce parse errors if people are using active queue runs output in some kind of pipe or something.

Confirm all the items mentioned in this ticket are desired and I will

[2015-02-24 13:37] ratsch commented on #192
Yes, sounds good. might be good to announce this on the public issue tracker.

[2015-02-24 13:39] jchodera commented on #192
Also would be great to note in the cluster docs wiki!

[2015-02-24 13:40] ratsch commented on #215
I’d love to have suspend/resume possibilities…
@tartarski, what would it take to get this feature?

[2015-02-24 13:46] tatarsky commented on #215
Suspend and resume for jobs already work fine. As documented in another Git entry I can locate. I fixed the default job submit flag to all that by default.

If you mean preemption, that is not enabled as its quite complex and seemed to have been problematic.

[2015-02-24 13:47] tatarsky commented on #215
Please look at Issue #110 for my statements on fixing suspend and resume support.

[2015-02-24 13:47] tatarsky commented on #215
Also, this has turned into a feature request and not a bug report. I will summarize the feature request contained here.

[2015-02-24 13:54] tatarsky commented on #215
@jchodera you can resume jobs. I fixed that awhile back. See #110. Perhaps a Wiki entry. All jobs are suspendable by default.

[2015-02-24 13:56] jchodera commented on #215
Apologies for being unclear here---was typing from phone at airport after international flight. I was referring to suspend-based job preemption, which as you indicated has been problematic.

[2015-02-24 13:57] tatarsky commented on #215
Pre-emption is a bigger animal. It is NOT enabled.

[2015-02-24 13:58] tatarsky commented on #215
I have some ideas on how I would re-introduce it but would like to review the state of Torque feature requests and in particular their possible impact. #64 contains some past history on pre-emption BTW. I leave it for that reason.

[2015-02-24 14:02] tatarsky commented on #192
@ratsch  This is the public issue tracker. As in make a new Git stating this so it bubbles to the top?

@jchodera I will add a wiki entry

[2015-02-24 15:10] tatarsky commented on #192
@jchodera I added a section to the wiki called "cleaning up after jobs" which contains two brief blurbs about shared memory segments and the /scratch areas (which are completely up to the users to keep clean as far as I can see). I will document any automated processes for cleaning in these sections as they develop.

[2015-02-24 18:30] jchodera commented on #192
Thanks, @tatarsky!

For completeness, here's a link to that:
https://github.com/cBio/cbio-cluster/wiki/MSKCC-cBio-Cluster-User-Guide#cleaning-up-after-jobs

[2015-02-25 02:15] tatarsky opened #216 "Drives filling again"
Filling of disk appears to have upticked this evening.

We are under 20TB. Please clean up.

[2015-02-26 00:44] tatarsky commented on #216
Under 15TB. Still no signs of reduced usage.

[2015-02-26 12:08] tatarsky commented on #216
Thank you for the cleaning! Back above 30TB. Closing matter.

[2015-02-26 12:08] #216 closed

[2015-02-26 12:41] tatarsky commented on #192
Deployed.

[2015-02-26 12:41] #192 closed

[2015-02-26 12:42] tatarsky commented on #203
"Bump". If this is desired, I can implement.

[2015-02-26 12:43] tatarsky commented on #116
I believe this is completed. Can you confirm @ratsch ? Would be pleasant to end this tale of woe.

[2015-02-26 13:08] jchodera commented on #203
I'm onboard!

I'd just reiterate that the main goals are to
* ensure users don't accidentally request a lot of resources and tie them up without using them (unless they consciously decide to unset autologout)
* ensure users that request a ton of resources but only use a small fraction of them get some sort of post-job message as a heads-up so they can adjust their request

[2015-02-26 13:17] rgejman commented on #211
I am back. I see that something must have changed while I was gone because I get a warning on login:
[code]
Have you made the switch to rvm as a module? Again, it's fine with me. Just let me know when it happens so I can fix any resulting issues in my bash initiation scripts and/or job scripts.

[2015-02-26 13:36] tatarsky commented on #211
Hmm. We have not made RVM a module but I am suspecting our addition of "system ruby" to support Puppet may be involved. Thats a rather odd error in that it seems to reference _your_ paths.

Since I think we need RVM as a module for co-existance with system required ruby let me take a look at what your dotfiles are exec'ing and decide how to proceed.

[2015-02-26 13:44] tatarsky commented on #211
Do you mind dropping an "echo $PATH" into this? Or email it to me.

I don't see what changed to produce that. I still show "rvm" coming from the /usr/local area and the system profile.d files making "ruby" come from there by default.

We only added an ignore of the rvm init if your uid is root to that puppet can use the system ruby.

[2015-02-26 13:49] tatarsky commented on #211
So I see your .bashrc attempting to prefix the above listed path.

[2015-02-26 13:53] ratsch commented on #215
Pre-emption was what I meant would be very nice to have.
Previously this wasn’t implemented right as it killed jobs to make space for others.
It would be great if we would be able to suspend suitable jobs to run jobs with higher priority.

[2015-02-26 13:56] jchodera commented on #215
+1 for preemption.

[2015-02-26 14:05] ratsch commented on #116
Endless disk-replacements of more than 400 disks and copying of >500TB of data back and forth
across different systems are now finished.
No data was lost and we are back to normal operations. Finally!
Snapshots are operational, but not yet on xxlab/projects and xxlab/share.

Thanks to everybody involved, in particular to @tartarsky, @knospler and @bubble1975
for their heroic efforts to make make t

[2015-02-26 14:20] tatarsky commented on #215
I will investigate pre-emption again next month. Aka next week.

[2015-02-26 14:29] rgejman commented on #211
I emailed you my path. Go ahead with what you are planning. Let me know when that is done and I will fix my config.

[2015-02-26 14:39] KjongLehmann commented on #215
Just want to make sure that the bug aspect does not get lost (see topic). Maybe open separate issue for feature requests?

[2015-02-26 14:42] tatarsky commented on #215
That would be nice. Although we already have a pre-emption git #64 .

I will just fold any needed items to it and clean this out.

[2015-02-26 16:27] tatarsky commented on #211
So much of this was via email and phone but if you are an RVM user and watching this please note attempts to convert to a module have begun. For starters you are recommended to do the following:
[code]
This is so far only being worked on for mskcc-ln1 as I debug the previous deployment method at the system level.

[2015-02-26 17:40] tatarsky commented on #211
And on jobs, the submit script one would add "module -s rvm"

[2015-02-26 21:24] tatarsky commented on #211
While @rgejman and I continue to discuss the pros and cons, the module is functional and I also recommend users with a desire for custom gems type:

`
rvm user gems
`

Other `rvm user` options also allow most of the RVM items to be storied in your homedir.

Of course you can also completely rebuild RVM at a personal level and get the same controls.

[2015-02-26 22:47] tatarsky commented on #211
Based on the work today with @rgejman I have composed a brief howto for RVM and ruby use on the cluster in the wiki. Comments welcome and contains information about maintaining within RVM your own gems.

https://github.com/cBio/cbio-cluster/wiki/MSKCC-cBio-Cluster-User-Guide#ruby-version-manager

[2015-02-26 22:51] tatarsky commented on #116
And with that, I will thank @ratsch for the thanks, say I appreciated everyones patience and close this Git issue.

[2015-02-26 22:51] #116 closed

[2015-02-27 14:47] tatarsky opened #217 "Information Only Dashboard Attempts"
As I drink my coffee this morning I've tried to get some of the "key" graphs into a position they can be quickly viewed. When on MSKCC networks the following URL now contains as its default page some of the important summary graphs. I'm working on a few more but folks can always dive into the "toolbar" I have somewhat lamely put across the top.

http://hal.cbio.mskcc.org

This is part of a continu

[2015-02-27 14:59] tatarsky commented on #217
And now an extremely primitive "mobile" version which I'll try to learn a bit more about the HTML to make it look cooler "someday soon".

http://hal.cbio.mskcc.org/mdash.html

[2015-02-27 20:09] tatarsky commented on #217
Added Torque graphs of consumed slots and consumed memory. More to come!

[2015-02-27 20:09] #217 closed

[2015-02-28 14:38] tatarsky commented on #215
So I spent considerable time looking at the original reported item with @KjongLehmann and my opinion is its a bug. The core of the bug seems to be in this inability for me to release a system hold on a job array item that I believe was held originally due to fairshare. But I should be able to release the hold.

[code]

I have reported all my findings to Adaptive in case 21891.

[2015-02-28 14:40] tatarsky commented on #215
Note also in this case the hold type is "Hold" not "UserHold". Which according to the logs was originally a system hold due to fairshare. But I still can't get it to "unhold" and the fairshare has decayed to where it should be allowed.

[2015-02-28 15:23] tatarsky commented on #211
Believed done.

[2015-02-28 15:23] #211 closed

[2015-02-28 15:58] KjongLehmann commented on #215
Thanks for looking into this.

[2015-03-02 17:47] tatarsky commented on #215
Adaptive wants to try to capture this happening with a higher log level. Which means I suggest you cancel these jobs as I cannot figure out how to get them out of hold, and I have to find some extra space for the debug level 7 rate of logs.

They if you have a way to try to get this to happen we can attempt it.

[2015-03-02 19:37] tatarsky commented on #203
I will be prepping this for deployment this week.

[2015-03-03 14:17] tatarsky commented on #64
I am going to make a new Git issue for this to be discussed.

[2015-03-03 14:17] #64 closed

[2015-03-03 14:29] tatarsky opened #218 "Job Preemption exploration discussion"
Per Git #64 at a point in the past job Preemption was disabled as it appeared to kill some jobs under some conditions.

It has been requested I investigate turning it back on. I will only do so carefully so this is a log of my investigation.

My reading so far is this is a feature (killing preempted jobs under some cases), not a bug.

If the setting:
[code]
is set, under some conditions it appears

[2015-03-04 18:34] tatarsky opened #219 "Under 20TB free in failure groups...please clean"
Per the dashboard, even with continued unreplication we are under 20TB.

http://hal.cbio.mskcc.org/

[2015-03-04 19:16] tatarsky commented on #203
The first part of this (Setting TMOUT when queue is active and ppn >1) is deployed for sh/bash users first.  (csh/tcsh shortly)

As part of trying to explain settings and allow for user decisions another environment variable is being set when we detect the above condition:

[code]
While that may be silly I figure those that would like to override might find that nice to know in that format rather

[2015-03-04 19:26] jchodera commented on #203
Clever, I like it!

[2015-03-04 19:56] tatarsky commented on #203
If figure then if somebody really doesn't want this a simple if statement can make some decisions for that person. We used to have a general BOFH variable on a few environments that contained information that power users could make decisions to override system set defaults.

[2015-03-04 20:01] tatarsky commented on #213
The systems known as "cpu-6-1" and "cpu-6-2" are now open for testing by direct ssh login.

Please before we add them as regular Torque nodes consider a run of your code on them via a ssh session. Please do not leave something running for very long as shortly we intend to activate them in Torque and will kill all non-submitted jobs on them first.

If you find something missing, please report it he

[2015-03-04 20:07] karalets opened #220 "gpu requests"
So, I am sure I have seen discussions related to this from Fall last year, but I did not quite understand what I need to do to fix it.

My problem is the following:
If I request a gpu using qlogin -l gpus=1 I do indeed get an online session on a node that has gpus with lots of unused resources (load and memory).
Up to this point everything is great. The nvidia script reveals though that they are i

[2015-03-04 20:11] tatarsky commented on #220
What queue are you in? I don't know what "qlogin" is because its not a supported Torque command. So I assume its a wrapper. So cut and paste in env|grep PBS please.

I suspect you are in the "active" queue. And you want to be in the "gpu" queue.

[2015-03-04 20:14] pgrinaway commented on #220
FYI, this command works for me:
`qsub -I -l walltime=00:99:00 -l nodes=1:ppn=1:gpus=1:shared -q gpu`

and I've been able to test theano with it.

[2015-03-04 20:14] KjongLehmann commented on #220
qlogin is a wrapper for interactive job requests used in our group. It will by default request the active Q.
On Mar 4, 2015, at 3:11 PM, tatarsky <notifications@github.com> wrote:

[2015-03-04 20:15] tatarsky commented on #220
While this qlogin assign items to the gpu queue if asked? Because thats why he's not getting the gpu reserved....see pgrinaways comment.

[2015-03-04 20:19] KjongLehmann commented on #220
Andre wrote it but I believe that it supports all Torque arguments.  Just need to specify -q gpu and you should be in business.

On Mar 4, 2015, at 3:15 PM, tatarsky <notifications@github.com> wrote:

[2015-03-04 20:20] tatarsky commented on #220
There we go! The joy of Git based problem reports. @karalets does adding -q gpu indeed solve your problem?

[2015-03-04 20:23] karalets commented on #220
Hi Paul, I actually tried that, I also tried doing it with qsub directly and did not get it working.

However, Patrick's solution just worked for me, thanks!

[2015-03-04 20:23] karalets commented on #220
Or, almost worked up to:

ImportError: ('The following error happened while compiling the node', GpuCAReduce{add}{1}(<CudaNdarrayType(float32, vector)>), '\n', '/cbio/grlab/home/karaletsos/.theano/compiledir_Linux-2.6.32-358.18.1.el6.x86_64-x86_64-with-centos-6.4-Final-x86_64-2.7.8-64/tmpND3gUV/7173b40d34b57da0645a57198c96dbcc.so: undefined symbol: __fatbinwrap_65_tmpxft_00004edd_00000000_9_cuda_d

[2015-03-04 20:23] karalets commented on #220
But I did get the gpu at least ;)

[2015-03-04 20:27] tatarsky commented on #220
I'd have to see the qsub in question to understand what is being issued. If you have a jobid I can pull the flags from checkjob.

As for the error above, sorry, thats outside my knowledge to debug ;)

[2015-03-04 20:28] karalets commented on #220
So Patrick was explicitly asking for 'shared', that sovles the problem I was adressing.

The error has something to do with the theano installation and, although it needs to be resolved, is unrelated to my original question, so let's close this.

Thanks a lot!

T.

[2015-03-04 20:28] #220 closed

[2015-03-04 20:33] karalets opened #221 "theano problem on gpu"
I am sure no-one anticipated this issue!

So, I installed anaconda on the cluster using the standard installation and let it come up with a theano installationa nd so on automatically.

Now if I run theano code on a cpu everything is peachy.

If I run it on a gpu bad things happen from the twisted dimensions of the Great Olds:

Using gpu device 0: GeForce GTX TITAN
--------------------------------

[2015-03-04 20:53] karalets commented on #221
solved it.

[2015-03-04 20:53] #221 closed

[2015-03-04 23:00] tatarsky commented on #203
OK, the memory item was added to sh/bash only as well. If TMOUT is set due to asking for more than 8GB the reason environment variable is set to:
[code]
I am working on the csh/tcsh version.

[2015-03-04 23:02] tatarsky commented on #219
18TB.

[2015-03-04 23:43] tatarsky commented on #219
Last unrep run of cslab/nobackup had 5.5TB to unreplicate. Folks might want to check their outputs.

[2015-03-04 23:53] akahles commented on #220
I know this is closed by now. Just wanted to add that @KjongLehmann is correct with qlogin -q active. However, there was a small but in the qlogin wrapper present in the github repo that I fixed now.

[2015-03-05 02:19] ratsch commented on #218
I would suggest to try the suspension option first.
This way at least smaller jobs can run quicker through and don’t need to wait until larger, resource intensive jobs are finished.
This could be the first level of escalation.

I would also suggest to allow suspension only in the batch and maybe gpu queue. (i.e. excluding interactive jobs in queue “active”).
I assume one can set which queue can st

[2015-03-05 03:39] jchodera commented on #220
You might be using the wrong version of cuda/nvcc.  Check to make sure your `~/.modulerc` has
[code]

Also, when using the GPUs, don't forget you need to set `CUDA_VISIBLE_DEVICES` to the GPU you've been allocated, or else your job may try to use GPU 0, which could be claimed by someone else.  You can use (for tcsh):
[code]

[2015-03-05 03:40] jchodera commented on #220
For bash:
[code]

[2015-03-05 13:06] tatarsky commented on #219
Woke up to 12TB. We're going to have to stop jobs soon. So please take a look at your output areas.

[2015-03-05 13:35] ratsch opened #222 "Intent of cleanup /cbio/shared/data (concerns 1000G and TCGA WGS)"
In light of recent storage shortages, I plan to remove the following items from /cbio/share/data:
* a non-essential large part of 1000G data: /cbio/shared/data/1000G/technical
* some of the TCGA whole genome data in /cbio/shared/data/tcga/seq. For now only HNSC/WGS.
I intend to replace the removed directories with files technical.file_list and WGS.file_list to retain some information of the prior

[2015-03-05 13:38] tatarsky commented on #222
Note carefully that we just bounced to 30TB free when I released the snapshots. While I don't want to do that during periods of high fill rates we may have to. I am also looking at the unreplication cron logs to see if the areas we unreplicate are actually involved. They may not be.

[2015-03-05 13:40] tatarsky commented on #219
Released the "nightly" snapshot. Freed considerable due to the rate of change yesterday. While not ideal (its our "oops" protection) we needed it to operate today.

[2015-03-05 13:44] ratsch commented on #222
This is likely due to the fact that I removed some archive files that are still on a different system (newsnap). We need more free space to reduce everybody's excitement. So, I suggest that we try to move the threshold from 20T to 50T. That gives more time to react. This also means that everybody should still cleanup and that I need to delete some of the shared resources as described above. (side

[2015-03-05 13:46] tatarsky commented on #222
Default new file replication count has been set to one.

Will notify at 50TB going forward.

[2015-03-05 13:47] ratsch commented on #222
Thanks!

[2015-03-05 13:56] tatarsky commented on #222
Please note BTW we've not see 50TB free for months...so when we get to 50TB free I will start that policy ;)

[2015-03-05 14:00] tatarsky commented on #218
OK. I am going to open a ticket however to understand the "escalation" concept. As Moab isn't source code I can't just follow the code.

[2015-03-05 21:30] tatarsky commented on #219
I appreciate those that contacted me for some cleanup help of former users. The current FG level is now 30TB and our default replication is 1. We continue to work on cleaning items but for now I will close this Git issue.

[2015-03-05 21:30] #219 closed

[2015-03-05 21:44] tatarsky commented on #213
If no one has any comments, I will likely add these to the scheduler if I see things calm down a bit load wise. It would require people pay attention closely for any failing job reasons for these two nodes so that I could rapidly remediate any issues.

Are people up for the addition of these two nodes?

128 slots and 1TB of ram....(carrot....)

[2015-03-05 21:48] vipints commented on #213
I was hammering a lot on cpu-6-2, behaves stable to me.

[2015-03-05 21:54] tatarsky commented on #213
OK. Well, I should probably only add them when people are more around. Is evening or daytime better for folks? I'm trying to avoid some forgotten item that results in jobs failing.

They do NOT have GPUs so Torque will only schedule batch jobs there.

[2015-03-05 21:55] tatarsky commented on #213
I can also mention to mailing list perhaps. That might be seen by more folks.

[2015-03-05 21:59] vipints commented on #213
Alright,  thank you.

[2015-03-05 22:29] rgejman commented on #213
No issues on cpu-6-1 with a couple of my frequently run scripts (Ruby, R)

[2015-03-05 22:55] ratsch commented on #222
You can activate that policy now.

[2015-03-05 22:57] tatarsky commented on #222
That policy is noted as now applying ;)

[2015-03-06 00:20] jchodera opened #223 "Distributed database (e.g. cassandra, mongodb)"
@ratsch is interested in exploring the use of distributed databases for a research project.

I strongly recommend we see if these can be installed in userspace and run through the batch queue, at least initially.  This will allow us to properly balance and track resource consumption without interfering with other jobs.

Once we settle on a distributed database scheme that works well and have softw

[2015-03-06 12:27] tatarsky commented on #213
OK. I will likely add them today around 11 AM or so one at a time.

[2015-03-06 12:29] tatarsky commented on #203
I've heard no complaints so far and will work on the epilog "resource reminder" today. I assume stderr remains the prefered location for that and it will _only_ output on the active queue which I assume is not usually piped to other items.

[2015-03-06 12:30] tatarsky commented on #215
Update for you. This week adaptive and I have been working on this and today a developer will be on the machine with me looking at an item. So please don't clear them yet. We may delete them however in the end of this but we'll inform you of that action.

[2015-03-06 13:55] jchodera commented on #223
Closing this so @ratsch can create a more detailed post.

[2015-03-06 13:55] #223 closed

[2015-03-06 14:23] KjongLehmann commented on #215
Great, thanks. I did not have the time to look into this right now, but I am online. Let me know if I can help. I do not know how to trigger this one though. Would require a  bit of experimenting.

On Mar 6, 2015, at 7:30 AM, tatarsky <notifications@github.com> wrote:

[2015-03-06 15:50] tatarsky commented on #213
Add of nodes delayed until I get off phone with Adaptive on unrelated matter.

[2015-03-06 16:11] tatarsky opened #224 "Debugging a Torque Matter with Adaptive Prime Developer"
We are attempting to do so without interruption.

[2015-03-06 16:21] tatarsky commented on #215
We've confirmed this is a bug. But if we can get these jobs started using a gdb method is that still desired or would you like to kill them and resubmit them normally.

The developer has some ideas on what this was but has to do some additional analysis.

[2015-03-06 16:24] KjongLehmann commented on #215
I can just kill them and restart. Thanks for the help.

On Mar 6, 2015, at 11:21 AM, tatarsky <notifications@github.com> wrote:

[2015-03-06 16:24] tatarsky commented on #215
We may have restarted them by accident.

[2015-03-06 16:24] tatarsky commented on #215
He however knows where the issue is.

[2015-03-06 16:29] tatarsky commented on #172
Also, they believe they have the fix for this now. They are gathering it up for me as a patch release.

[2015-03-06 16:29] tatarsky commented on #224
This is now complete.

[2015-03-06 16:29] #224 closed

[2015-03-06 16:31] tatarsky commented on #213
OK. Off phone, adding cpu-6-1.

[2015-03-06 16:32] tatarsky commented on #213
@rgejman several of your bedtools jobs just started on cpu-6-1. So please advise if you see any issues.

[2015-03-06 16:43] rgejman commented on #213
Will do. I ran one on 6-2 overnight without issues.

On Fri, Mar 6, 2015 at 11:32 AM, tatarsky <notifications@github.com> wrote:

--
Ron S. Gejman
MD-PhD Student
Weill Cornell/Rockefeller/Sloan-Kettering
Tri-Institutional MD-PhD Program
Scheinberg Lab

[2015-03-06 16:45] tatarsky commented on #213
Yeah, just being paranoid. cpu-6-2 will go into the pool at noon.

[2015-03-06 17:01] tatarsky commented on #213
cpu-6-2 added. Jobs running. Report any problems via new ticket!

[2015-03-06 17:01] #213 closed

[2015-03-06 19:10] tatarsky opened #225 "Cpu-6-1 something happened"
So unsure what happened but looking at it.

[2015-03-06 19:18] tatarsky commented on #225
Unclear but its wedged. Rebooting it and will perform additional checks before further deployment.

[2015-03-06 20:26] rgejman opened #226 "Strange out memory allocation issues"
I just opened an active session (`qsub -I -q active -l mem=48gb -l walltime=48:00:00 -l nodes=1:ppn=1`) and got a cascade of memory errors:
[code]
repeating until I killed the job (job # 2900882.mskcc-fe1.local). This was on gpu-2-12

I tried again and same thing happened.

[2015-03-06 20:28] ratsch opened #227 "trouble deleting files"
I am trying to delete some files, but the system does come up with a reason not to collaborate:

rm: cannot remove `filename': Cannot allocate memory

I have tried it on mskcc-ln1 and snap-data.

[2015-03-06 20:28] corcra commented on #226
Also experiencing weird errors right now, e.g.:
[code]

[2015-03-06 20:28] ratsch commented on #226
same here: https://github.com/cBio/cbio-cluster/issues/227

[2015-03-06 20:29] rgejman commented on #226
If I kill the startup scripts and open up an R shell I continue to get weird errors:
[code]

[2015-03-06 20:29] ratsch commented on #227
see issue #226
https://github.com/cBio/cbio-cluster/issues/226

[2015-03-06 20:29] #227 closed

[2015-03-06 20:30] rgejman commented on #226
Sadly, tons of my queued jobs just tried to run and just died with random, obviously nonsensical errors :(.

[2015-03-06 20:35] danielparton commented on #226
Same with my Python job. Deleting the job for now.

```OSError: [Errno 12] Cannot allocate memory: '/cbio/jclab/projects/parton/kinome-ensembler/models/AAPK1_HUMAN_D0/CDK2_HUMAN_D0_4BCN_A'```

[2015-03-06 20:36] akahles commented on #226
Just wanted to chime in and report that I see the same kind of strange errors.

[2015-03-06 20:36] tatarsky commented on #226
We are looking.

[2015-03-06 20:48] KjongLehmann commented on #226
same problem here.

On Mar 6, 2015, at 3:36 PM, tatarsky <notifications@github.com> wrote:

[2015-03-06 20:52] ratsch commented on #222
I have not received any objections and I will therefore go ahead with the proposed plan.

[2015-03-06 20:52] #222 closed

[2015-03-06 20:52] tatarsky commented on #226
It would be helpful if when saying "me as well" if you would state if a node was involved or mskcc-ln1 aka hal. We are attempting to determine what occurred.

[2015-03-06 20:54] corcra commented on #226
I had issues on both mskcc-ln1 and in interactive jobs, but I'm failing to reproduce them now.

[2015-03-06 20:55] rgejman commented on #226
I have over 600 failed jobs. Here are some of the nodes involved (last 10 jobs).
 gpu-1-16/4
gpu-2-12/4
gpu-2-14/15
gpu-2-4/6
gpu-3-8/12
gpu-2-4/8
gpu-2-12/13
gpu-1-5/5
gpu-2-12/10
gpu-1-5/9
I also had issues on mskcc-ln1 before.

[2015-03-06 20:55] tatarsky commented on #226
Node 2-12 appeared to run completely out of ram around 15:20.

[2015-03-06 20:56] akahles commented on #226
running python scripts (running bash) within two interactive sessions (one on gpu-2-9 and one on gpu-2-14).
[code]

[2015-03-06 20:56] ratsch commented on #226
It appears to work again on mskcc-ln1.

[2015-03-06 20:56] KjongLehmann commented on #226
Problem occurred on node gpu-1-11 running a python parser across multiple files in folder:
 /cbio/shared/data/encode/bam_realigned/

On Mar 6, 2015, at 3:52 PM, tatarsky <notifications@github.com> wrote:

[2015-03-06 20:56] rgejman commented on #226
Logged into gpu-3-8 and loaded/ran R without any issues now.

[2015-03-06 20:56] tatarsky commented on #226
Yeah its client side but we're not sure what is triggering it. Anything new in job types? Only new item from the system side is two nodes were added around noon.

[2015-03-06 20:58] ratsch commented on #226
I had the same error on snap-data where essentially nobody else can login. But it only affected the /cbio file system, not the /snapshot filesystem.

[2015-03-06 20:58] danielparton commented on #226
I was running a 32-core job on the nodes. Example problem node: gpu-2-10
Nothing new in terms of job type - I've run the same program successfully
many times before before.

On Fri, Mar 6, 2015 at 3:56 PM, tatarsky <notifications@github.com> wrote:

[2015-03-06 20:59] ratsch commented on #226
is there any unreleased shared memory on that node?

[2015-03-06 20:59] tatarsky commented on #226
I show no heavy shared mem leftovers

[2015-03-06 21:01] tatarsky commented on #226
What is "razers3" ?

[2015-03-06 21:07] vipints commented on #226
Can see many jobs from @rgejman using "razers3"

[2015-03-06 21:09] tatarsky commented on #226
Why is a pbzip job gpu-2-12 as root?

[code]

[2015-03-06 21:10] tatarsky commented on #226
[code]

[2015-03-06 21:11] tatarsky commented on #226
Current working directory is:
[code]

[2015-03-06 21:14] rgejman commented on #226
razers3 is an aligner. I've run thousands of jobs with it and no problems... didn't change any settings today.

[2015-03-06 21:16] tatarsky commented on #226
Something caused memory to drop on several nodes...we are trying to figure out what but we also lost gmond (Ganglia) so we are reviewing logs for odd items.

[2015-03-06 21:18] tatarsky commented on #226
15:20 is the time this occurred. So if that rings any bells please let us know.

[2015-03-06 21:25] ratsch commented on #226
The bzip2 job on gpu-2-12 was started at 4pm (see other email with more details).

[2015-03-06 21:26] tatarsky commented on #226
Its not it.

[2015-03-06 21:26] ratsch commented on #226
The error appears again on mskcc-ln1.

[2015-03-06 21:28] tatarsky commented on #226
Looking

[2015-03-06 21:29] akahles commented on #226
Another instance while writing result files for a job on gpu-3-8 at 16:26
[code]

[2015-03-06 21:29] ratsch commented on #226
This appears to depend on the location:

mskcc-ln1 12] ~ > touch xxx
% OK
[16:28 - ]
[mskcc-ln1 13] ~ > cd /cbio/grlab/projects/TCGA
[16:28 - ]
[mskcc-ln1 14] /cbio/grlab/projects/TCGA > touch xxx
touch: cannot touch `xxx': Cannot allocate memory
% error

[2015-03-06 21:30] akahles commented on #226
13:29 ob gpu-2-12:
[code]

[2015-03-06 21:31] akahles commented on #226
Really weird things are happening ... targets of symlinks are missing, permissions are displayed incorrectly. @KjongLehmann will post a path in a second

[2015-03-06 21:32] ratsch commented on #226
I get irregular errors creating files (touch xxx). It did not work a few minutes ago. Now it works again.

[2015-03-06 21:32] ratsch commented on #226
I suggest to hold executing new jobs until error source is identified.

[2015-03-06 21:32] KjongLehmann commented on #226
path is /cbio/grlab/projects/TCGA/PanCancer/Alignments_ENCODE
 but appear to be back now….
On Mar 6, 2015, at 4:31 PM, Andre Kahles <notifications@github.com> wrote:

[2015-03-06 21:33] ratsch commented on #226
Metadata server problems?

[2015-03-06 21:38] tatarsky commented on #226
Not that we see.

[2015-03-06 21:38] tatarsky commented on #226
Issuing a system reservation.

[2015-03-06 21:45] tatarsky commented on #226
We seem to have a huge level of orphaned shared memory on mskcc-ln1 itself...

Example...

[code]

[2015-03-06 21:56] tatarsky commented on #226
Deleted two very large segments. Time to run the shared memory killer on mskcc-ln1 itself...we also are looking at a large number of deleted files with open file handles.

[2015-03-06 22:18] tatarsky commented on #226
IBM ticket starting.

[2015-03-06 22:31] ratsch commented on #226
Does this problem disappear when you release the snapshot? (or would you rather not like to delete it?)

[2015-03-06 22:34] tatarsky commented on #226
We'd rather have IBM take a look at the moment.

[2015-03-06 22:35] tatarsky opened #228 "Weird processes we don't think are related but would like to remove"
We are looking all over for a cause of this. While we don't think these items are related, we've got some "cruft" on the nodes I'd like to mention so I'm going to mention them here.

We don't think this is a running job:

gpu-1-4:
[code]

[2015-03-06 22:41] jchodera commented on #228
`nvcc` is the CUDA compiler.  Previously, when several instances of `nvcc` were launched by the same MPI job on the same node, some sort of file- or resource-locking issue would cause them to hang and persist as zombie processes.

However, we haven't seen this behavior since CUDA 6.0, if I recall correctly (and we're on 6.5 now).

I have a script to kill these processes---will run it now.

[2015-03-06 22:42] jchodera commented on #228
I don't see these running anymore, so I presume @tatarsky got to them already.

[2015-03-06 22:42] tatarsky commented on #226
We are showing on some nodes very large "deleted files" that are still holding open memory. Example below. Again, we are trying to find a reason for memory allocation errors that appear to come from the client mmfsd.

[code]

[2015-03-06 22:47] tatarsky commented on #226
I may need to take this to email. We have lots of these deleted files holding open memory from a few users. And the files are quite large. We're trying see if they correlate.

[2015-03-06 22:47] tatarsky commented on #226
Or phone for that matter.

[2015-03-06 22:49] rgejman commented on #226
Yes those are files I was deleting over the past few days during the space crunch. I thought I avoided any that were part of running jobs by narrowing down only to files with a modification date of >3 days (because my scripts never run longer than 72h by walltime)... Hmm.

[2015-03-06 22:50] tatarsky commented on #226
Well, again we're not sure what we're looking at so we're looking for problems in areas we've seen this sort of thing before. The file is considered open still by the kernel, but the file is deleted.

[2015-03-06 23:07] tatarsky commented on #228
There is one on 2-7 if you want to verify thats the same thing. pid = 24851

[2015-03-06 23:07] tatarsky commented on #228
Oh, and a few more. 17550 and 18719.

I've not cleared them...

[2015-03-06 23:13] tatarsky commented on #226
We're looking closely at bedtools. It seems to be holding open very large files which are deleted.

cpu-6-1 was running all bedtools when it completely died. We'd like to try to perhaps manually reproduce this. I know you just sent me an email you aren't available for a bit.

[2015-03-06 23:21] tatarsky commented on #226
We have removed all shared memory stragglers on mskcc-ln1 and have implemented the same cleaner as the nodes there.

[2015-03-06 23:23] tatarsky commented on #226
To summarize so far:
We feel the error in question is a client side memory allocation error in gpfs.
We've opened a sev 1 ticket with IBM to understand why
However we've also found evidence of file handles for deleted files on several nodes.

We are considering trying to reproduce this again when we get the callback and may re-enable the queues. We've not been able to get it to happen again since

[2015-03-06 23:40] tatarsky commented on #225
We feel this was related to #226 or a pre-cursor. Folding into that one.

[2015-03-06 23:40] #225 closed

[2015-03-07 00:04] tatarsky commented on #226
We are trying to reproduce the problem now with IBM monitoring what is called token allocation failures.

[2015-03-07 00:05] tatarsky commented on #226
reservation was removed as we have no other ideas how to create it

[2015-03-07 00:09] jchodera commented on #228
Ah!  My script was only looking for instances that belonged to me, it seems.  These belong to @danielparton:
[code]

[2015-03-07 00:10] jchodera commented on #228
@danielparton: You may have to use the script that does `kill -9` for zombie `nvcc` processes.

[2015-03-07 00:12] danielparton commented on #228
Running it now.

On Fri, Mar 6, 2015 at 7:10 PM, John Chodera <notifications@github.com>
wrote:

[2015-03-07 00:23] tatarsky commented on #228
We don't think this is related so feel free to clean up but its not urgent.

[2015-03-07 00:23] #228 closed

[2015-03-07 00:37] tatarsky commented on #226
We have a theory with IBM and have made a change. Please __IMMEDIATELY_ report re-occurrence.

[2015-03-07 01:01] tatarsky commented on #226
BTW for the record our change has nothing to do with deleted files and node memory. So pretty much skip anything about that. The herring was red.

[2015-03-07 13:34] tatarsky opened #229 "GPFS problems continue"
We still have a problem and are attempting to take steps. We are stopping the scheduler and may be rebooting items. Please stand clear until notified.

[2015-03-07 14:09] tatarsky commented on #229
We continue to work on the suggested items. Login access to hal disabled pending a decision on performing the tasks we had scheduled for next Sunday today while we have to umount anyway.

[2015-03-07 14:53] tatarsky commented on #229
We are performing next Sunday items today along with all suggested resource changes from IBM ticket

[2015-03-07 16:16] tatarsky commented on #229
We are close to allowing access. We have performed all the items IBM suggested if our non-interrupting changes did not work. We have performed the tasks scheduled for next Sunday.

We are performing some cleanup and then will email the mailing list with a summary.

We will be monitoring this weekend to confirm we have remediated the problem. Our IBM ticket remains open.

[2015-03-07 16:37] tatarsky commented on #229
See hal-help email. Closing this, making new followup ticket.

[2015-03-07 16:37] #229 closed

[2015-03-07 16:38] tatarsky opened #230 "Report any post-changes issues here"
Per the hal-help email if you feel something post our efforts remains broken please comment here and I will react as quickly as possible.

[2015-03-07 16:56] tatarsky commented on #226
Please report further in #230

[2015-03-07 16:56] #226 closed

[2015-03-07 17:28] tatarsky commented on #186
We are looking at this in light of the recent E_NOMEM token incident. To see if this is related.

[2015-03-09 14:17] ratsch opened #231 "Nice-to-have queue"
We would like to run jobs at low priority in the queue that should be executed when the overall load is lower. This is useful for crunching through a large number of alignment files or for other purposes.
The jobs in that queue should only start running when the load is lower than normal, only use currently available resources and continue to completion. I suggest limiting the runtime to a maximum

[2015-03-09 14:25] akahles commented on #231
I think this is a good idea, but I would suggest to have lower limitation on the fraction of the cluster but therefor allow longer runtimes. The low priority jobs I would run, will run in a docker container and the pipeline within is not to be changed to not jeopardize reproducibility, so I cannot guarantee checkpointing. In this case it would be very unfortunate when the jobs crash after two days

[2015-03-09 14:50] jchodera commented on #231
Have you tried using the `-p` flag in the batch submission scripts, e.g.
[code]
This might require the `ENABLEUSERPRIORITY` setting to be enabled in Moab:
http://docs.adaptivecomputing.com/mwm/Content/a.fparameters.html

[2015-03-09 14:52] KjongLehmann commented on #231
Unfortunately that carries the problem that the low priority jobs can take over the whole cluster at low loads?
On Mar 9, 2015, at 10:50 AM, John Chodera <notifications@github.com> wrote:

[2015-03-09 14:57] tatarsky commented on #231
I will look at this next week. I am not available this week for enhancements due to vacation time.

Also ENABLEUSERPRIORITY should not be needed for < 0 priorities. Just positive ones. But if you find otherwise I am happy to set it.

[2015-03-09 14:58] jchodera commented on #231
I can't recall if we are limiting the number of jobs from any user to a maximum of 80% of the cluster.

We could indeed create a new queue that can only use a smaller fraction of the cluster and has a much lower default priority.  There is additional complexity in maintaining more queues, but it may be needed.

[2015-03-09 16:01] ratsch commented on #231
Another benefit would be that nice-to-have jobs could be valued differently for the fair-share system. This would encourage the use of a nice-to-have queue.

[2015-03-09 16:04] jchodera commented on #231
Good point!  I like this idea.

This new queue might also be a good place to explore suspending or checkpointing of jobs again.

[2015-03-09 20:36] KjongLehmann commented on #172
Hum, I assume you applied the patch? I am not sure whether this is the same problem or a new one. I am posting it here for now. I just got a (Max number of jobs in Q) message while submitting a few jobs. However, I "only" had a total of 1,600 jobs in the queue(some on hold, some running) and was submitting 5 arrays with 500 slots each. Further it seemed to have triggered the magic disappearance of

[2015-03-09 20:53] tatarsky commented on #172
No. I announce patches. I am on vacation. No changes were made. So I assume Torque remains confused. I will look at it when I return.

[2015-03-09 21:25] KjongLehmann commented on #172
No rush on this. Enjoy your vacation!

[2015-03-10 13:18] tatarsky commented on #231
Before my days outings comment: provide a name for this queue (low? slow?) similar to the others and I will start the framework and we can experiment with its options. I remain in and out today but will keep this moving along and tie to #218

[2015-03-10 13:20] tatarsky commented on #230
Our graphs of the token memory have shown no levels anywhere near Friday but we do see the manager node associated with snapdev (the snapshot filesystem) climbing more than the others (while staying at levels nowhere near the max).

We continue to watch it and have asked some questions on our ticket. I will track elsewhere and closing this.

[2015-03-10 13:20] #230 closed

[2015-03-10 14:30] jchodera commented on #231
Some ideas:
* `lowpriority`
* `scavenger`
* `killable`

[2015-03-10 17:58] vipints opened #232 "Job exit code 137"
I ran into exit code 137 on `cpu-6-2` when launching a python script (`job id 2904108`). May be this process is killed with signal SIGKILL from an another program.  Not expecting an `out of memory` error from my program itself and sending a SIGKILL to the python interpreter because I can see the last memory usage Mar 10 1:33:09 was 22.38 GB (request resource 32gb, walltime 60hrs) and then the job

[2015-03-10 18:13] tatarsky commented on #232
I am in and out but looks like OOM killed a few python items recently.

I am checking the footprint of non-Torque items on this box.

[2015-03-10 18:15] tatarsky commented on #232
This should probably relocate to cpu-6-1 as that box remains out of Torque until I have a period of calm to re-check its matters on the day of the excitement.
[code]

I killed a system item that had ballooned for some reason and removed it permanently as we don't need it on a node.

[2015-03-10 18:18] tatarsky commented on #232
Oddly I don't show system memory issues during the OOM matters in the log. I will look more later today.

[2015-03-10 18:19] vipints commented on #232
Alright, thanks for the details.

[2015-03-10 18:22] tatarsky commented on #232
Well, something happened but fairly quickly:
[code]
And OOM harvested. More when I have a moment to go over them.

[2015-03-10 18:24] vipints commented on #232
Ahh...

[2015-03-10 19:34] ratsch commented on #231
I like

or

[2015-03-11 13:49] tatarsky commented on #232
I think the extra memory pressure has been removed. I added for a bit some extra swap so I can catch if it was a system item as well. I will add a log alert for oom which we should not see on nodes.

[2015-03-11 13:49] #232 closed

[2015-03-11 14:58] tatarsky commented on #231
Do you object to just "low" to match the relative length of "batch", "active", "gpu". Just for less typing...
"priority" being somewhat implied by the name of the queue ;)

[2015-03-11 15:09] jchodera commented on #231
I don't think `low` is sufficiently descriptive.

I always cringe with `active`, and would love to change that to `interactive` at some point.

[2015-03-11 15:16] tatarsky commented on #231
OK. lowpriority it is...

[2015-03-12 16:57] akahles commented on #186
Since you are currently looking at this again. I see it still occurring in my logs once in a while:
[code]

[2015-03-12 18:13] tatarsky commented on #231
Initial steps done but not enabled. Reading more on the detailed part of this which involves separate fairshare and best ways to limit maximum of cluster resources.

[2015-03-13 13:36] kpjonsson opened #233 "Job held due to violating constraints"
I submitted an array job, that ran through a number of its instances before being held. Running `checkjob` tells me this:

`NOTE:  job violates constraints for partition MSKCC (non-idle state 'Hold')`

What I cannot figure out now is what constraints I'm violating and whether the rest of the jobs will be released and, if so, when. How can I find this out?

[2015-03-13 13:44] tatarsky commented on #233
Thanks for using Git. I am already looking at this and suspect its related to an item we hit in #215. Aka I believe this to be a bug caused by some circumstances we have not figured out. I am actively looking at the matter as I type.

[2015-03-13 14:01] kpjonsson commented on #233
Alright, thanks!

[2015-03-13 14:04] tatarsky commented on #233
If you wish to resubmit them I have provided the same data I provided on #215 to the adaptive developer working on the ticket. I believe the problem to be the same. The cause is believed to be related to another ticket also being worked on.

[2015-03-13 14:10] kpjonsson commented on #233
Ok, I'll kill and resubmit the job then.

[2015-03-13 14:15] tatarsky commented on #233
For now that is the best I can do until they provide me some further data. I cannot "unhold" them either due to whatever bug is occurring.

[2015-03-13 14:15] tatarsky commented on #233
They=Adaptive.

[2015-03-13 14:16] kpjonsson commented on #233
No worries, feel free to close this issue.

[2015-03-13 14:16] tatarsky commented on #233
Issue being tracked by #215

[2015-03-13 14:16] #233 closed

[2015-03-16 13:25] tatarsky opened #234 "Re-attempting cpu-6-1 this morning"
At around 10:30AM I will re-add cpu-6-1 to the Torque node list. I believe its previous issues were related to the overall running out of token memory not anything it did. If I am wrong, I will be monitoring.

[2015-03-16 14:47] tatarsky commented on #234
Unit released to torque. Please migrate any manual items elsewhere. If you need my help with that please let me know.

[2015-03-16 21:22] tatarsky commented on #234
Not seeing any re-occurrence of matters so closing for now.

[2015-03-16 21:34] vipints commented on #234
@tatarsky I just got an error message from `cpu-6-1` which is same as issue [232] (https://github.com/cBio/cbio-cluster/issues/232), I have a heartbeat from my program `Mar 16 16:32:28` and the job `2920966` died at Mar 16 16:32:50.

The last memory usage from the heartbeat was 22.4gb and I have a resource limit of 30gb for that job. I think this is triggering the same as of `cpu-6-2`

[2015-03-16 21:35] tatarsky commented on #203
epilog resource reminder requiring some extra thought as when run from interactive session the stderr/stdout from it is dropped. Reading further but that part left unimplemented. Will cycle on csh/tcsh TMOUT script instead.

[2015-03-16 21:38] tatarsky commented on #234
Yep, except I seem to need more extra swap or more non-Torque run items removed. Checking as I already added the same extra swap.

[2015-03-16 21:40] jchodera commented on #203
What about post job email notification?

[2015-03-16 21:52] tatarsky commented on #234
Hmm. No obvious system ones either. It seems to be a very short term thing as Ganglia isn't catching the memory running out. Looking closely at the oom dmesg entries again.

[2015-03-16 22:19] tatarsky commented on #234
Re-opening as I try to figure out what takes all the memory so suddenly.

[2015-03-18 15:03] jchodera opened #235 "CUDA 7.0 production release now available"
We should install CUDA 7.0 production release as a module when possible:
https://developer.nvidia.com/cuda-downloads

The default should still be CUDA 6.5 while we do some testing.

[2015-03-18 15:31] tatarsky commented on #234
I've not seen any instance of short term memory exhaustion since. But I suspect you may not be using the node. If there was a way to warn me when you issue one of these jobs I can track it closely.

[2015-03-18 15:36] vipints commented on #234
yeah, I am not using `cpu-6-1` for the time being. I will start a job on `cpu-6-1` and watch the status.

[2015-03-18 17:38] tatarsky commented on #234
Our "debug" swap use climbing heavily....your python processes appear to have
[code]

[2015-03-18 17:44] tatarsky commented on #234
I think vm.swapiness needs to be a smaller percent on these large memory machines. Attempting same.

[2015-03-18 17:51] vipints commented on #234
@tatarsky when I look the swap usage of the above PID `44957` it is showing 0kB.

`grep -i swap /proc/44957/status`
`VmSwap : 0kB`

looking something different ?

[2015-03-18 17:56] tatarsky commented on #234
Sorry wasn't saying that job was using swap. Only that I saw the system start to swap and was providing some capture via atop of your process size. I show via Torque 430GB of reserved memory.
It may be a combo of that vm.swapiness and we have some extra mmfsd allocation ram on this node. The bottom line is my "extra" swap is helping try to find the item hopefully without hitting an oom.

[2015-03-18 17:58] tatarsky commented on #234
44958 has some swapped out BTW:
[code]

I suspect however if I flushed the cache with the lower vm.swappiness it would stay resident.

[2015-03-18 17:58] tatarsky commented on #234
Our goal being BTW "never swap".

[2015-03-18 17:59] vipints commented on #234
Understood, thank you for the detailed note.

[2015-03-18 18:02] tatarsky commented on #234
I think its part expanded mmfsd, part vm.swapiness as a percent and part some system items which appear a bit more bloated than I like. Reviewing them.

[2015-03-19 14:20] tatarsky commented on #234
I am of the opinion I have a good balance now. I know the second I close this you will get an oom so I am going to tempt the fates and try ;) (I am alerted if you get one but feel free to re-open)

[2015-03-19 14:20] #234 closed

[2015-03-19 14:24] tatarsky commented on #231
Still working on properly tuning of this and gradual deployment. I believe to enable this queue I need to adjust the PRIORITY of batch so there is room to have lowpriority be "lower".

 I will be doing so later this morning.
[code]

[2015-03-19 18:05] tatarsky commented on #235
Behind a bit. Draining node gpu-3-9 for a test bed so we don't interfere with running jobs if issues.

[2015-03-19 18:41] tatarsky commented on #235
@jchodera according to the CUDA 7.0 release notes this will require a driver update which makes it a bigger process.
[code]

We currently are running
[code]
Once gpu-3-9 is drained I can see whats involved but advise level of concern for driver update impact.

[2015-03-19 18:45] jchodera commented on #235
Can you update gpu-3-9 to the latest driver?  We can test.

[2015-03-19 18:46] tatarsky commented on #235
Thats what I'm suggesting above. But it has to drain first. So will be a bit (jobs on it)

[2015-03-19 18:47] tatarsky commented on #235
Although the jobs on it appear to be batch jobs so let me confirm that carefully.

[2015-03-19 18:55] tatarsky commented on #235
Confirmed.

So being aware that two batch jobs are still running on gpu-3-9 you can manually ssh to gpu-3-9 and:
[code]
Or wait until its drained which I can advise.

[2015-03-19 18:57] tatarsky commented on #235
One of those batch jobs has considerable runtime so care is advised. Checking if another node is perhaps wiser.

[2015-03-19 19:03] tatarsky commented on #235
Not really. So if concerned will cause issues, might want to wait for drain.

[2015-03-19 19:43] tatarsky commented on #231
I am experimenting with the queue but not ready for more use of it. I am trying to understand my fair share options for it still.

[2015-03-19 20:21] jchodera commented on #235
No time to test until 5.30P, so will wait

[2015-03-19 20:26] tatarsky commented on #235
No rush on my end. I'm trying to do just some cleaning of a few items unreleated. Just advise and we'll prepare the next steps.

[2015-03-19 22:05] jchodera commented on #235
Would it be possible to add this environment variable to the module definition?  (Expressed as tcsh)
[code]

[2015-03-19 22:12] jchodera commented on #235
Running into a path problem:
[code]

[2015-03-19 22:12] jchodera commented on #235
This is odd, since I think it was working a moment ago.

[2015-03-19 22:12] jchodera commented on #235
Also, `/usr/local/cuda/` should point to the latest stable version (7.0).

[2015-03-19 22:14] jchodera commented on #235
Nevermind this---I was adding the `cuda/7.0` module and was confused on the login node, rather than gpu-3-9.  Nothing is wrong there!

[2015-03-19 22:16] tatarsky commented on #235
Yes. I've only done the load of the software on gpu-3-9. But I do have the module prototype on all nodes as it is puppet propogated.

Do you want the /usr/local/cuda symlink changed on gpu-3-9?

[2015-03-19 22:17] tatarsky commented on #235
I can start adding the software elsewhere but wanted to make sure it was "good on one node" first.

[2015-03-19 22:21] tatarsky commented on #235
I also assume you still want the OPENMM_CUDA_COMPILER item. I will do that in a moment.

[2015-03-19 22:23] tatarsky commented on #235
I've made the module change to define OPENMM_CUDA_COMPILER as I believe I can via that code.
[code]

I will add that to the prototype module after you confirm thats what you want so gpu-3-9 only right now

[2015-03-19 22:26] tatarsky commented on #235
I added the software to mskcc-ln1 as well but did NOT change the symlink yet. (/usr/local/cuda)

[2015-03-19 22:32] jchodera commented on #235
We are having trouble with `cuda/7.0` and our primary software library, so we don't want to change the default module yet.

Can we experiment with changing the symlink on just `gpu-3-9`?

[2015-03-19 22:34] tatarsky commented on #235
Of course. Done only on gpu-3-9.
[code]

[2015-03-19 22:36] tatarsky commented on #235
Please note just for the record so we don't forget: default symlink is /usr/local/cuda-6.0 and the default module for "cuda" is also 6.0. Even though we have 6.5 available.

[2015-03-19 22:37] jchodera commented on #235
OK, that had no effect on this issue.  You can revert the symlink.

Can we keep `gpu-3-9` out of the `gpu` queue for another day or so?  Let's not upgrade other drivers yet until we establish whether this is a driver or `nvcc` issue.

[2015-03-19 22:37] tatarsky commented on #235
Yep! Bear in mind the batch jobs are still not drained but I've marked gpu-3-9 offline. No new jobs will go there. Take your time.

[2015-03-19 22:41] jchodera commented on #235
Can you just offline it from the `gpu` queue?

[2015-03-19 22:41] tatarsky commented on #235
I do not know how to do that but I was looking a moment ago.

[2015-03-19 23:03] tatarsky commented on #235
OK. I am trying to issue a reservation for the 4 gpus on this node for 24 hours given the queue has no waiting gpu items. If you can try with me to see if you can force a gpu job on that node to schedule it would be cool but otherwise I am trying to do so.

[2015-03-19 23:10] tatarsky commented on #235
I'm not sure its working and I have to call it a day. So reverting to node offline method and I'll do some more reading on the topic in the morning. Boils down to reserving the gres gpus but I'm not sure I have the syntax right for moab's mrsvctl

[2015-03-19 23:18] jchodera commented on #235
Understood!  Thanks!

[2015-03-20 12:22] tatarsky commented on #235
OK. I think this is the incantation to reserve the gpu resources on a node while allowing batch jobs to run.
[code]
Which I will document in the Operations pages after I do a few more tests. My jobs that request running on gpu-3-9 with a requested gpu are queued as rejected by that node and my batch jobs that I requested run on that node ran. I will continue to monitor.

[2015-03-20 13:32] vkuryavyi opened #236 "fizzled jobs"
Hi,
My jobs this week behave strange. They run without and end: become fizzled, then restart on their own, don't finish. A ligprep job died after taking more than 40 min. When ran locally on a Mac, it was completed in less than 10 minutes.
There were some issues on my end with the internet provider, the vpn configuration has changed once as well, but apparently that  does not explain the full pict

[2015-03-20 13:42] tatarsky commented on #236
I have no knowledge of Maestro so hopefully it keeps some sort of log. @jchodera I believe set that up.

As for those jobs ids I show them running but they don't seem to be keeping any sort of output file which would be very useful for debugging.  checkjob -v on them shows them normal.

Did they restart with the same job id? Or does this software resubmit?

Do you get an email or any other status

[2015-03-20 13:49] tatarsky commented on #236
I show job id 2932624 and 2932612 existing today. (Started at 8:07 and 8:12). But no previous entry for those job ids. Do you have the job ids of the ones that failed so that tracejob can be run?

[2015-03-20 14:10] vkuryavyi commented on #236
Two jobs started at approx 5 am this morning, in 28 subjobs each. One initially has had the job ids running through 2932523.mskcc-fe1.loca —2932550.mskcc-fe1.loca
A few from these subjobs did not finish but restarted, e.g.,  the currently active job id's 2932611.mskcc-fe1.loca  and 2932612.mskcc-fe1.loca

[2015-03-20 14:24] tatarsky commented on #236
OK. Well starting with the list above:

2932523
ran on gpu-2-11 for 30 seconds until:
03/20/2015 06:01:33;0008;PBS_Server.8752;Job;2932523.mskcc-fe1.local;Job deleted at request of vkuryavyi@mskcc-ln1.local

2932524
ran on cpu-6-1 appears to have completed very quickly.

2932525
ran on cpu-6-2 appears to have completed very quickly

2932526
ran on cpu-6-2 appears to have completed very quickly

St

[2015-03-20 14:35] tatarsky commented on #236
We may need to take this to email with @jchodera as I need to send some log snippets which contain what appear to be some kind of failure to a proxy on your macbook for this to function? Sorry, I don't know the submit path you are using so I'll require some assistance to debug further.

[2015-03-20 14:35] jchodera commented on #236
Thanks for looking at the queue logs, @tatarsky.  Sounds like this is a Maestro problem.

I'll take a look to see if there are any logs, but they may end up on @vkuryavyi's machine.

[2015-03-20 14:36] jchodera commented on #236
Go ahead and email me, @tatarsky

[2015-03-20 14:38] tatarsky commented on #236
Done. Contained too much user data for Git.

[2015-03-20 14:40] vkuryavyi commented on #236
No, I did not get any output from these jobs. I see that one of the jobs from the series is still running (the series qxp_nexcl_newli
2932542.mskcc-fe1.loca  vkuryavyi   batch    qxp_nexcl_newli   49903     1      1    1gb  24:00:00 R  04:16:47
whereas other sub-jobs  have stopped and reinitiated beyond the original sub job ID range, and are running just for 30 minutes:
2932635.mskcc-fe1.loca  vku

[2015-03-20 15:02] tatarsky commented on #203
I'm looking at that. Should be doable.

[2015-03-20 15:05] tatarsky commented on #203
Although I should mention, that if you submit interactive jobs with "-m e" you already can get an email:
[code]
To non-default or non-verbose?

[2015-03-20 17:47] jchodera commented on #203
The goal here is to notify users who have requested significant resources but did not use the most of them.  I think that means we need to give them a short, sweet summary of how much they underused the resources and advice on what to do next time.

[2015-03-20 17:54] tatarsky commented on #203
I'll do a more pretty one from the epilog then! That one is pretty "hello, I am a computer"

[2015-03-20 17:57] tatarsky commented on #203
I'll also probably only send it if some threshold of "underused" is met and we can refine over time.

[2015-03-21 18:28] ckandoth opened #237 "/cbio/cslab/home/.git causing trouble"
I have git repos in my home directory, but this .git folder under the root home folder is causing conflicts with my own repos. Was this added recently? If it's not needed, can you get rid of it? If it is needed, can you offer a workaround?

~C

[2015-03-21 18:59] tatarsky commented on #237
Odd. This is not maintained by "us" and appears to be part of the adu crontab that does reports. Section of that crontab that seems involved follows.

[code]

So this may require @ratsch to explain or work with you. Appears to keep the disk usage reports under git control probably for some kind of history....

[2015-03-21 19:00] jchodera commented on #237
Yikes! We almost certainly have to change this scheme.

[2015-03-21 19:04] tatarsky commented on #237
My suggestion is make a git repo in /cbio/admin which is where we (clusterguys) are placing quota data and other common admin needs.

[2015-03-21 19:09] ckandoth commented on #237
Wait a sec... how many people other than the cluster guys have root access to hal? Clearly I shouldn't be keeping my private keys in `.ssh`

[2015-03-21 19:11] tatarsky commented on #237
@ckandoth drop me an email and I will answer the above question. This is a public git. We are well aware of who has root and who maintains this script.

[2015-03-23 21:34] ratsch commented on #237
This was recently added to keep track of disk usage over time.
If the .git directory in a top directory is distracting, we can move them to another place.

[2015-03-23 21:36] jchodera commented on #237
Can we move these to a single git repo in `/cbio/admin`?

[2015-03-24 14:53] tatarsky commented on #235
Do you want this reservation renewed?

[2015-03-24 15:08] jchodera commented on #235
Please!  We are waiting on more information about what is going on here from NVIDIA and OpenMM.

[2015-03-24 15:10] tatarsky commented on #235
Made it a 10 day reservation. Can delete if resolved before that expires. Just on GPUs.

[2015-03-24 22:25] pgrinaway opened #238 "Scheduler down?"
Hi,

I cannot schedule jobs or use qstat. When I try, I get an output like this:
[code]

[2015-03-24 22:25] pgrinaway commented on #238
Nevermind, seems to be working again

[2015-03-24 22:25] #238 closed

[2015-03-24 22:31] tatarsky commented on #238
It crashed due to the bug I continue to work with Adaptive over. I have however a restart script to attempt to bring it back up cleanly after fault. I will ping the Adaptive developer for status as he claimed they located the bug and were just working on a QA'd release.

[2015-03-25 19:36] leew1 opened #239 "gtdownload exit code 214"
I'm having some issues with CGHub downloads using the gtdownload client. The client is reporting errors with the tracker and then terminating with exit code 214. I wrote CGHub Support about this, and their response is pasted below.

Has anything been changed with network settings recently? I haven't been doing a lot of downloading recently so it's possible the problem is on my side but I'd appreci

[2015-03-25 19:43] tatarsky commented on #239
Problem reports should always include the name of the system the command is being run on. And also the full path to the binary. Are you running this on mskcc-ln1 or via a qlogin to an open node?

No network or firewall settings have changed on the gear we control anyway and I've heard of no other reports of gtdownload problems. As Git has others on it perhaps further advice will follow.

If you ca

[2015-03-25 19:55] tatarsky commented on #239
We might want to bump the default version of gtdownload but I usually check with all users first. 3.8.7 appears to be their shipping version. The nodes have 3.8.5a. Unclear if thats in any way involved but from past dealings with the service keeping current is usually pretty important.

[2015-03-25 19:59] tatarsky commented on #239
Please note my test download worked. But it took a couple of tries. So I'm suspecting something is going on in CGHUB land.

[2015-03-25 19:59] leew1 commented on #239
I'm using /usr/bin/gtdownload (the default version installed) and the 'Tracker errors' occur in both the head node mskcc-ln1 and via qsub into compute nodes.

I can try to run that cgprofiler they provided and see if they can diagnose anything on their side.

[2015-03-25 20:02] tatarsky commented on #239
Go ahead. If you email support please cc me as it cuts down on re-doing things we have already done with CGHUB in the past. They are very familiar with me. I have cleared you to do this (email me) compared to Git for this specific case now that we have it started in Git.

Also I will place the latest version in a alternate location so we can rule it out being a version matter in a moment.

[2015-03-25 20:19] tatarsky commented on #239
Well, with the latest version I seem to get errors that look pretty similar to yours. So something is borked but I don't know where.

[2015-03-25 20:22] tatarsky commented on #239
And now its working but very slowly. CC me please on the ticket.

[2015-03-25 20:25] tatarsky commented on #239
Latest version BTW is located on mskcc-ln1 (aka hal) only at:

[code]

I will do a module for it if we need multiple versions but for now manually use it if you wish to test. After a very slow start my test completed. So something is going on but I couldn't tell you what.

[2015-03-25 20:27] leew1 commented on #239
I'm running the cgprofiler now and will CC you on the response back to the CGHub support ticket when it completes. They seem to think it takes 30-40 min to run so it might take a while. I'm running it both on mskcc-ln1 and on gpu-1-12 via qlogin

I noticed that when running on mskcc-ln1, the exit code 214 termination error does not seem to happen, it's just that things get very very slow. When run

[2015-03-25 20:30] tatarsky commented on #239
I see in a random sample of my usual "test" of a public domain bam a 1 our of 3 or so failure rate. Which is not the norm. So I don't think its "us" frankly. As we are a heavy user of gtdownload.

[2015-03-25 20:54] tatarsky commented on #239
Pushing /opt/cghub/bin/gtdownload to all nodes at least for consistency in tests. Manually use path. I'll make a module eventually.

My test rates are all over the road and with frequent initial tracker SSL errors. Unsure what is involved but feels like overload somewhere.

[2015-03-25 21:00] akahles commented on #239
I have seen these errors quite frequently in the past. My solution to this was to try in a loop until the download was completed. However, ultimately I got all data downloaded.

[2015-03-25 21:06] tatarsky commented on #239
Well, if you want to see if its version related, feel free to try the /opt/cghub/bin/gtdownload while we wait on support ticket. No changes to anything under "our" purvey but perhaps we need to do more investigation of upstream paths.

[2015-03-25 23:09] leew1 commented on #239
Paul, I copied you on the ticket but I don't think CGHub included you on the response, so I'm pasting it below.

I am attempting Andre's method of just repeatedly restarting downloads until they finish, and it does seem to work, but really does not seem ideal.

They still think that it's a network configuration issue on our side (https://cghub.ucsc.edu/docs/user/network.html) -- could you confirm

[2015-03-25 23:15] tatarsky commented on #239
Tell John to cc me. This is not efficient.

No it does not. I show no block whatsoever but I do show repeated failures to reach the tracker. I suspect state table matters at CGHUB or on the box itself.

We are not blocking anything going out and our state tables are low in count.

We do not block outbound traffic on the Hal firewall in any way.

[2015-03-25 23:19] tatarsky commented on #239
Example from mskcc-ln1 using netcat to the 443 port:
[code]

[2015-03-25 23:20] tatarsky commented on #239
I will see if I can graph with smokeping failed connections to 443/tcp on that system.

[2015-03-25 23:22] tatarsky commented on #239
Example a second ago:

[code]

So something is going wrong somewhere. But we're not blocking it....I suggest you have them re-cc me on the support ticket so they can watch on their end....

[2015-03-25 23:23] tatarsky commented on #239
And nows it fine...so its sporadic and weird. I'll try to graph....

[2015-03-25 23:33] tatarsky commented on #239
I've also asked the support folks to cc me on your ticket conversation.

[2015-03-26 00:08] tatarsky commented on #239
@leew1 how many simultaneous gtdownloads are you running right now?

[2015-03-26 00:12] akahles commented on #239
Not sure if this is related to this, but I am currently downloading data from NCBI SRA via an aspera client. Approx. 6T since yesterday morning and will be approx. another 6T in the next 48h.

[2015-03-26 00:13] tatarsky commented on #239
Appreciate the data point but the network is actually quite bored. I'm watching state tables and a tcpdump for CGHUB connections as I try to determine the rate of the initial connection to the tracker hanging. I've seen it happen twice.

[2015-03-26 00:18] leew1 commented on #239
I've submitted an array job to run 10 downloads at a time. This is my third re-start of this array job and now most of the downloads are actually finishing despite some errors.

[2015-03-26 00:19] tatarsky commented on #239
Thanks. Thats consistent with the state table count. I wanted to make sure that we are not overloading that count but we're at a fraction of capacity.

[2015-03-26 00:22] tatarsky commented on #239
So at the moment its either somewhere upstream from us (certainly possible) or a overload situation at CGHUB. Which would require them to debug with me if we can catch it. But I show no outbound blocks and the state tables are no where near the upper limit.

I've got a basic "loop check" going and am trying to add a smokeping one.

[2015-03-26 02:31] vipints commented on #234
Ok, today I got one python OOM error from `gpu-1-10` job id  `2938698`.

`last timestamp: 2015-03-25 19:58:47`
`last memory usage: 83354.0742188`

the stdout log message was just Killed.

[2015-03-26 12:57] leew1 commented on #239
~100 downloads completed overnight with minimal errors... and then the rest were held due to what I assume is the same bug being tracked in #215

I'm not sure if the overnight success was due to it being a low traffic time or because most of them had already partially completed earlier but I restarted the array job and everything is running very smoothly now even on brand new downloads. The cluste

[2015-03-26 13:29] tatarsky commented on #239
I don't think its our side. But there is a very large "middle ground" of connectivity that I and CGHUB have zero control over. Please add the above statement to the CGHUB ticket.

Also note I am trying to graph the rate of success of that initial "wget cghub" HTTPS connection which John and I have seen fail (John via your profile run).

That graph is located here:

http://hal.cbio.mskcc.org/smokep

[2015-03-26 13:31] tatarsky commented on #234
Noted. To be clear you are reporting something on a different host. But I will go perform similar memory analysis on gpu-1-10 and if necessary will open a more generic "audit memory usage out of Torque control" issue. This issue however is closed.

[2015-03-26 13:37] tatarsky commented on #172
Late yesterday Adaptive marked the bug this item represents as "Marked fixed in 5.0.2." I am attempting to determine the steps it would take to update and see if that is correct.

[2015-03-26 14:41] vipints commented on #234
ah, I was following the `exit status code 137` on this thread. Thank you for mentioning the host details.

[2015-03-26 15:16] leew1 commented on #239
Just updating this issue with the same information I sent to UCSC, but the errors are back and downloads are no longer completing. Exit code 214 is back, which is consistent with Paul's cghub connection failure tracker.

There was a steadily increasing rate of tracker errors starting around 10 am and they are now so frequent that the downloads are terminating.

[2015-03-26 16:32] tatarsky commented on #239
Please pause any use while I debug with CGHUB. Thanks.

[2015-03-26 16:33] leew1 commented on #239
@tatarsky I've terminated all the submitted gtdownload jobs, thanks for the help.

[2015-03-26 16:35] tatarsky commented on #239
OK...now if possible go full bore.

[2015-03-26 16:41] leew1 commented on #239
Started up again, 20 simultaneous downloads.

[2015-03-26 18:43] leew1 commented on #239
@tatarsky Do you need me to keep sending downloads? The array job has almost gone through all of its iterations at this point as the downloads are getting terminated fairly quickly.

[2015-03-26 18:47] tatarsky commented on #239
No. CGHUB is looking at items with us.

[2015-03-27 13:24] tatarsky commented on #239
Most of this was tracked by the support ticket. Turned out to be a complex debug operation. We currently have a workaround in place for what I suspect is an upstream change involving P-MTU icmp packets but I continue to look at the matter.

We have recommended CGHUB enable the use of RFC 2923 TCP based path discovery as an option as the more permanent workaround as I've seen that generically solve

[2015-03-27 13:42] tatarsky opened #240 "Disk Space Warning went off"
We are below 80TB in the combined failure groups. Normally I warn at 60TB but its the weekend coming.

Please consider a cleanup.

Shortly the quota data we enabled and are gathering will be made into a trend report. I have not had time to do that scripting but its coming soon.

[2015-03-31 18:36] ratsch commented on #231
Any news on this one?

[2015-03-31 19:23] tatarsky commented on #231
Queue exists and is enabled but I've not had time to validate that my first draft of the settings/fairshare meet the goals. If you want to submit some items to it and assist in that validation tomorrow might be a good day for it.

[2015-03-31 19:26] tatarsky commented on #239
Currently declaring this "worked around" but continued conversation about why the P-MTU behavior changed. It does not appear to be in systems under our control or immediate influence.

[2015-03-31 19:26] #239 closed

[2015-03-31 19:27] tatarsky commented on #236
I believe from an email from @jchodera this is in the hands of the vendor?

[2015-03-31 19:33] vkuryavyi commented on #236
Yes, it is. Thank you @tatarsky . Thank you @jchodera

[2015-03-31 19:41] tatarsky commented on #236
As in "close this for now" or hold until vendor gets back ;)

[2015-03-31 19:49] vkuryavyi commented on #236
The reason for these jobs to fizzle is clear now. The vendor is expected to return an extended analysis with accompanying recommendations for the future. "Close this for now" is OK.

[2015-03-31 19:50] tatarsky commented on #236
Understood!

[2015-03-31 19:50] #236 closed

[2015-03-31 19:52] tatarsky commented on #240
We appear to have a new normal of 68TB free. Which appears to be holding as such. So closing for now.

[2015-03-31 19:52] #240 closed

[2015-03-31 20:24] akahles commented on #231
I have a bunch of items in the batch queue that could go into the new queue. Will switch them over and see what happens ...

[2015-03-31 20:33] akahles commented on #231
Ok, now there are apprx 1.5K jobs in the n2h queue.

[2015-03-31 20:36] akahles commented on #231
Two low priority jobs (2949163 and 2949164) just got scheduled, but other jobs are in the batch queue. Might still be within the rules, just wanted to report.